/**
 * WooComerce cart page
 */

.woocommerce{
	.cart-empty{
		display: block;
		width: 100%;
	}
}

.woocommerce-cart {
	
	.page-title {
		font-weight: 500;
		font-size: 60px;
		line-height: 75px;
		color: #1E306E;
		margin-bottom: 50px;
		text-align: center;
	}

	.woocommerce-cart-form {
		border-radius: 4px;
		overflow: hidden;
	}

	
	.woocommerce {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		
		.woocommerce-notices-wrapper{
			width: 100%;
		}

		.woocommerce-message,
		.woocommerce-error,
		.woocommerce-info {
			width: 100%;
		}

		.woocommerce-cart-form {
			width: 100%;

			@include media-breakpoint-up(md) {
				width: 65%;
			}
		}
	}

	table.cart {
		width: 100%;
		margin: 0;
		border: 0;

		thead {
			display: none;
		}
		tbody {
			tr {
				&:first-child {
					td, th {
						border-top:1px solid #DDE0E9;
					}
				}
			}
		}

		tr {
			background: none !important;

			@include media-breakpoint-down(xs) {
				display: block;
				margin-bottom: 50px;
			}

			td, th {
				border: 0;
				border-bottom: 1px solid #DDE0E9;
				text-align: center;
				&:last-child {
					text-align: right;
					@include media-breakpoint-down(xs) {
						text-align: center;
					}
				}
			}

			th {
				padding: 0 20px 13px;
				text-transform: uppercase;
				font-size: 12px;

				&:first-child {
					padding-left: 0;
					padding-right: 0;
				}
			}

			td {
				vertical-align: middle;
				padding: 40px 10px;


				@include media-breakpoint-down(xs) {
					display: block;
					width: 100% !important;
					padding: 10px;
					text-align: center;
				}

				// woocomerce cart product price
				&.product-price {
					font-weight: 600;
					font-size: 18px;
					line-height: 22px;
					color: #1E306E;
					@include media-breakpoint-down(xs) {
						display: none;
					}
				}

				// woocomerce cart product actions
				&.actions {
					padding: 40px 0;
					text-align: right;
					background: none;

					.coupon {
						float: left;
						display: flex;
						flex-wrap: wrap;
						align-items: center;
						margin-bottom: 10px;
						@include media-breakpoint-down(xs) {
							float:none;
						}

						* + * {

							@include media-breakpoint-down(xs) {
								display: block;
								margin: 0 0 10px;
							}
						}

						input {
							background: #F6F7F9;
							border-radius: 6px;
							font-weight: 300;
							font-size: 18px;
							line-height: 22px;
							color: #1E306E;
							padding:16px 20px 15px 20px;
						}

						.button{
							font-weight: 500;
							font-size: 16px;
							line-height: 20px;
							text-align: center;
							color: #1E306E;
							background: #E0F3FD;
							border-radius: 6px;
							border:none;
							padding:17px 24px;
							margin-left: 10px;
							transition: 0.2s;
							&:hover {
								background:#8067BD;
								color:#FFF;
							}
							@include media-breakpoint-down(xs) {
								display: block;
								width: 100%;
								margin: 0;
							}
						}
					}

					.input-text {
						width: calc(100% - 210px);
						padding: 9px 30px 8px;
						text-transform: none;
						font-size: 18px;

						@include media-breakpoint-up(xl) {
							width: 320px;
						}

						@include media-breakpoint-down(xs) {
							display: block;
							width: 100%;
							margin: 0 0 10px;
						}
					}

					label {
						display: none;
					}

					> .button {
						float: none;
						font-weight: 500;
						font-size: 16px;
						line-height: 20px;
						color: #1E306E;
						background: #FFFFFF;
						border: 1px solid #DDE0E9;
						box-sizing: border-box;
						border-radius: 6px;
						padding:17px 24px;
						min-width: 164px;
						&:hover {
							background:#8067BD;
							color:#FFF;
							border: 1px solid #8067BD;
						}

						@include media-breakpoint-up(sm) {
							float: right;
						}

						@include media-breakpoint-down(xs) {
							display: block;
							width: 100%;
							margin: 0;
						}

						&:hover {
							cursor: pointer;
						}
					}
				}

				// woocomerce cart product quantity
				&.product-quantity {
					input {
						background-color: #F6F7F9;
						border-radius: 6px;
						width: 90px;
						height: 70px;
						font-weight: 500;
						font-size: 20px;
						line-height: 25px;
						text-align: center;
						color: #1E306E;
					}
				}

				// woocomerce cart product thumbnail
				&.product-thumbnail {
					width: 80px;
				}

				// woocomerce cart product title
				&.product-name {
					a {
						font-weight: 300;
						font-size: 16px;
						line-height: 20px;
						color: #1E306E;
					}

				}

				// woocomerce cart remove icon
				&.product-remove {
					width: 16px;
					padding: 10px;

					a {
						font-size: 0;
						line-height: 0px;

						&:before {
							content: url("data:image/svg+xml; utf8, %3Csvg%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M3.14285%2015.75C3.14285%2016.9904%204.16795%2018%205.42855%2018H12.5714C13.832%2018%2014.8571%2016.9904%2014.8571%2015.75L15.7501%206.59711C15.8074%206.00924%2015.3455%205.50001%2014.7548%205.50001H3.24516C2.6545%205.50001%202.19253%206.00924%202.24988%206.59711L3.14285%2015.75Z%22%20fill%3D%22%231E306E%22%2F%3E%0A%3Cpath%20d%3D%22M11.8482%201.12499C11.5376%201.12499%2011.2857%200.873155%2011.2857%200.562497C11.2857%200.251838%2011.0339%200%2010.7232%200H7.27678C6.96612%200%206.71428%200.251838%206.71428%200.562497C6.71428%200.873155%206.46244%201.12499%206.15179%201.12499H2C1.44772%201.12499%201%201.57271%201%202.12499V2.37498C1%202.92727%201.44772%203.37498%202%203.37498H16C16.5523%203.37498%2017%202.92727%2017%202.37498V2.12499C17%201.57271%2016.5523%201.12499%2016%201.12499H11.8482Z%22%20fill%3D%22%231E306E%22%2F%3E%0A%3C%2Fsvg%3E%0A");
							display: inline-block;
							width:18px;
							height:18px;
							background-color: transparent;
							opacity: 0.2;
							transition: 0.2s;
						}
						&:hover {
							&:before {
								background-color: transparent;
								opacity: 1;
							}
						}
					}
				}

				&.product-subtotal {
					font-weight: 600;
					font-size: 18px;
					line-height: 22px;
					color: #1E306E;
				}
			}
		}
	}

	// cart collaterals
	.cart-collaterals {
		padding: 40px;
		margin-top: 30px;
		border: 0;
		border-radius: 0;
		background: #F6F7F9;

		width: 100%;
		margin-top: 30px;
		margin-left: 0;

		@include media-breakpoint-up(md) {
			width: calc(35% - 60px);
			margin-top: 0;
			margin-left: 60px;
		}

		h2 {
			font-weight: 600;
			font-size: 20px;
			line-height: 25px;
			color: #1E306E;
			margin:0px 0px 25px 0px;

			&:before {
				display: none;
			}
		}

		.shop_table {
			margin-bottom: 25px!important;
		}

		.wc-proceed-to-checkout .checkout-button {
			border:none;
			border-radius: 6px;
			display: block;
			font-weight: 500;
			font-size: 16px;
			line-height: 20px;
			padding: 25px 20px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			width: 100%;
		}

		table {
			margin-bottom: 45px;
			border: none;

			tr {
				vertical-align: baseline;

				th {
					width: 80px;
					font-size: $wc-label-fz;
					padding-right: 15px;
				}

				&.shipping {
					td {
						width: 230px;
						font-size: $wc-label-fz;

						.shipping-calculator-button {
							&::before {
								content: $wc-cart-page-calculate-shipping-button-icon;
								@extend %icon-font-default;
								font-size: 12px;
								padding-right: 5px;
							}
						}
					}
				}

				&.cart-subtotal {
					
					th, td {
						font-weight: 300;
						font-size: 16px;
						line-height: 20px;
						color: #1E306E;
					}

					.amount {
						color: #1E306E;
					}
				}

				.shipping-calculator-form {
					padding: 20px 0;

					input {
						width: 100%;

						@include media-breakpoint-only(md) {
							width: 150px;
						}
					}

					.button {
						display: block;
						width: 100%;

						&::before {
							content: $wc-cart-page-table-actions-button-icon;
							@extend %icon-font-default;
							font-size: 12px;
							padding-right: 5px;
						}
					}

					p + p {
						margin-top: 20px;
					}
				}

				&.order-total {
					th, td {
						font-weight: 500;
						font-size: 34px!important;
						line-height: 42px!important;
						color: #1E306E;
					}
					strong {
						font-weight: 500;
					}
				}

				td, th {
					border: none;
				}

				.woocommerce-shipping-destination{
					margin: 10px 0;
				}
			}
		}

		#shipping_method {
			label {
				font-size: 18px;
			}
		}
	}
}

.woocommerce-cart #content {
	margin-bottom: 0px!important;
}