h1, h2, h3, h4, h5, h6 {
	margin: 15px 0;

	.entry-content &,
	.page-content & {
		margin: 2rem auto 1rem;

		@media (min-width: 1200px) {
			margin: 3rem auto 2.75rem;
		}
	}
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child {
	margin-bottom: 0;
}