/**
 * Product badges styles
 */
.products {
	.woocommerce-loop-product__link {
		position: relative;
		display: block;
	}
}

.onsale {
	display: inline-block;
	margin: 0;
	padding: 5px 10px;
	min-height: 0;
	min-width: 0;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
	background: #FF7461;


	// loop products badge style
	.products &{
		position: absolute;
		top: 10px;
		left: 10px;
	}
	
	// single product badge style
	.single-product & {
		margin-bottom: 45px;
	}
}