/**
 * Select
 */
select {
	position: relative;
	height: 60px;
	padding-right: 50px;
	border-radius: 0;
	border: 0;
	background-position: 95% center;
	background-repeat: no-repeat;
	background-image: url("../images/icon_select.svg");
	appearance: none; 
    -webkit-appearance: none; 
    -moz-appearance: none;
	
	&:focus {
		box-shadow: none;
	}
}


