/* #Footer */
footer.site-footer {
	background-color: $footer_bg;
}

.footer-copyright {
	color: $footer_text_color;
}

/* Newsletter Popup */
.footer-newsletter-popup__inner .mc4wp-form__checkbox_wrap a{
	color: $primary_text_color;
}
.footer-newsletter-popup__inner .mc4wp-form__checkbox_wrap a:hover{
	color: $accent_color;
}