/* #Main Menu */
.main-navigation {
	font-style: $menu_font_style;
	font-weight: $menu_font_weight;
	text-transform: $menu_text_transform;
	font-size: $menu_font_size{px};
	line-height: $menu_line_height;
	font-family: @font_family( $menu_font_family );
	letter-spacing: $menu_letter_spacing{px};
}

.main-navigation ul li > a,
.main-navigation ul li > a:hover {
	color: #FFF;
}

.main-navigation li:after {
	background-color: $primary_text_color;
}

/* sub menu */


/* #Mobile Menu */
.mobile-menu-toggle-button:before,
.mobile-menu-toggle-button:after {
	background-color: $primary_text_color;
}

/* Vertical Menu */
.main-navigation__vertical ul.menu li a{
	font-family: @font_family( $h4_font_family );
}
.main-navigation__vertical ul.menu li.menu-parent-item a{
	font-family: @font_family( $body_font_family );
}