/* #Breadcrumbs */
.breadcrumbs_item,
.breadcrumbs_item a:not(:hover){
	color: $secondary_text_color;
}
.breadcrumbs_item a:hover {
	color: $link_color;
}

.breadcrumbs.invert .breadcrumbs_item,
.breadcrumbs.invert .breadcrumbs_item a:not(:hover) {
	color: $invert_text_color;
}


/* #Post navigation */
.post-navigation .nav-links__label {
	color: $primary_text_color;
}
.post-navigation .nav-previous:hover,
.post-navigation .nav-next:hover {
	border-color: $primary_text_color;
}
.post-navigation .nav-links__label path {
	fill: $primary_text_color;
}


/* Post Page Links */
.page-links .post-page-numbers{
	color: $link_color;
}
.page-links .post-page-numbers:hover{
	color: $link_hover_color;
}
.page-links .post-page-numbers.current{
	color: $primary_text_color;
}


/* #Pagination */
.comment-navigation,
.posts-navigation {
	font-style: $h4_font_style;
	font-weight: $h4_font_weight;
	font-size: @font_size($h4_font_size, multiple, round, 0.8)px;
	line-height: $h4_line_height;
	font-family: @font_family( $h4_font_family );
	letter-spacing: $h4_letter_spacing{em};
	text-align: $h4_text_align;
	text-transform: $h4_text_transform;
	border-color: @darken($grey_color_1, 5.5);
}

/* #Posts List Pagination */
.pagination a.page-numbers.prev,
.pagination a.page-numbers.next,
.pagination a.page-numbers:hover,
.pagination .page-numbers.current{
	color: $primary_text_color;
}
.pagination .next path,
.pagination .prev path{
	fill: $primary_text_color;
}


.comment-navigation a:not(:hover),
.posts-navigation a:not(:hover),
.post-navigation a:not(:hover) {
	color: $h4_color;
}
.comment-navigation a:hover,
.posts-navigation a:hover,
.post-navigation a:hover {
	color: $link_hover_color;
}

.comment-navigation .nav-previous a:before,
.comment-navigation .nav-next a:before,
.posts-navigation .nav-previous a:before,
.posts-navigation .nav-next a:before,
.post-navigation .nav-previous a:before,
.post-navigation .nav-next a:before{
	color: @darken($grey_color_1, 13);
}

