/* Preloader */
.jet-smart-listing-wrap.jet-processing + div.jet-smart-listing-loading,
div.wpcf7 .ajax-loader {
	border-top-color: $accent_color;
	border-right-color: $accent_color;
}

/*--------------------------------------------------------------
## Ecwid Plugin Styles
--------------------------------------------------------------*/

/* Product Title, Product Price amount */
html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .grid-product__title-inner,
html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .grid__products .grid-product__image ~ .grid-product__price .grid-product__price-amount,
html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .grid__products .grid-product__image ~ .grid-product__title .grid-product__price-amount,
html#ecwid_html body#ecwid_body .ec-size .ec-store .grid__products--medium-items.grid__products--layout-center .grid-product__price-compare,
html#ecwid_html body#ecwid_body .ec-size .ec-store .grid__products--medium-items .grid-product__details,
html#ecwid_html body#ecwid_body .ec-size .ec-store .grid__products--medium-items .grid-product__sku,
html#ecwid_html body#ecwid_body .ec-size .ec-store .grid__products--medium-items .grid-product__sku-hover,
html#ecwid_html body#ecwid_body .ec-size .ec-store .grid__products--medium-items .grid-product__tax,
html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .form__msg,
html#ecwid_html body#ecwid_body .ec-size.ec-size--l .ec-wrapper .ec-store h1,
html#ecwid_html body#ecwid_body.page .ec-size .ec-wrapper .ec-store .product-details__product-title,
html#ecwid_html body#ecwid_body.page .ec-size .ec-wrapper .ec-store .product-details__product-price,
html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .product-details-module__title,
html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .ec-cart-summary__row--total .ec-cart-summary__title,
html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .ec-cart-summary__row--total .ec-cart-summary__price,
html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .grid__categories * {
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	line-height: $h6_line_height;
	font-family: @font_family( $h6_font_family );
	letter-spacing: $h6_letter_spacing{px};
}

html#ecwid_html body#ecwid_body .ecwid .ec-size .ec-wrapper .ec-store .product-details__product-description {
	font-style: $body_font_style;
	font-weight: $body_font_weight;
	font-size: $body_font_size{px};
	line-height: $body_line_height;
	font-family: @font_family( $body_font_family );
	letter-spacing: $body_letter_spacing{px};
	text-align: $body_text_align;
	color: $primary_text_color;
}

html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .grid-product__title-inner,
html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .grid__products .grid-product__image ~ .grid-product__price .grid-product__price-amount,
html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .grid__products .grid-product__image ~ .grid-product__title .grid-product__price-amount,
html#ecwid_html body#ecwid_body .ec-size .ec-store .grid__products--medium-items.grid__products--layout-center .grid-product__price-compare,
html#ecwid_html body#ecwid_body .ec-size .ec-store .grid__products--medium-items .grid-product__details,
html#ecwid_html body#ecwid_body .ec-size .ec-store .grid__products--medium-items .grid-product__sku,
html#ecwid_html body#ecwid_body .ec-size .ec-store .grid__products--medium-items .grid-product__sku-hover,
html#ecwid_html body#ecwid_body .ec-size .ec-store .grid__products--medium-items .grid-product__tax,
html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .product-details-module__title,
html#ecwid_html body#ecwid_body.page .ec-size .ec-wrapper .ec-store .product-details__product-price,
html#ecwid_html body#ecwid_body.page .ec-size .ec-wrapper .ec-store .product-details__product-title,
html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .form-control__text,
html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .form-control__textarea,
html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .ec-link,
html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .ec-link:visited,
html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store input[type="radio"].form-control__radio:checked+.form-control__radio-view::after {
	color: $link_color;
}

html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .ec-link:hover {
	color: $link_hover_color;
}

/* Product Title, Price small state */
html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .grid__products--small-items .grid-product__title-inner,
html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .grid__products--small-items .grid-product__price-hover .grid-product__price-amount,
html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .grid__products--small-items .grid-product__image ~ .grid-product__price .grid-product__price-amount,
html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .grid__products--small-items .grid-product__image ~ .grid-product__title .grid-product__price-amount,
html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .grid__products--small-items.grid__products--layout-center .grid-product__price-compare,
html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .grid__products--small-items .grid-product__details,
html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .grid__products--small-items .grid-product__sku,
html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .grid__products--small-items .grid-product__sku-hover,
html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .grid__products--small-items .grid-product__tax {
	font-size: @font_size($h6_font_size, multiple, ceil, 0.8)px;
}

/* Product Title, Price medium state */
html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .grid__products--medium-items .grid-product__title-inner,
html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .grid__products--medium-items .grid-product__price-hover .grid-product__price-amount,
html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .grid__products--medium-items .grid-product__image ~ .grid-product__price .grid-product__price-amount,
html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .grid__products--medium-items .grid-product__image ~ .grid-product__title .grid-product__price-amount,
html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .grid__products--medium-items.grid__products--layout-center .grid-product__price-compare,
html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .grid__products--medium-items .grid-product__details,
html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .grid__products--medium-items .grid-product__sku,
html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .grid__products--medium-items .grid-product__sku-hover,
html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .grid__products--medium-items .grid-product__tax {
	font-size: $h6_font_size{px};
}

/* Product Title, Price large state */
html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .grid__products--large-items .grid-product__title-inner,
html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .grid__products--large-items .grid-product__price-hover .grid-product__price-amount,
html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .grid__products--large-items .grid-product__image ~ .grid-product__price .grid-product__price-amount,
html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .grid__products--large-items .grid-product__image ~ .grid-product__title .grid-product__price-amount,
html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .grid__products--large-items.grid__products--layout-center .grid-product__price-compare,
html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .grid__products--large-items .grid-product__details,
html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .grid__products--large-items .grid-product__sku,
html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .grid__products--large-items .grid-product__sku-hover,
html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .grid__products--large-items .grid-product__tax {
	font-size: @font_size($h6_font_size, multiple, ceil, 1.2)px;
}


/* Product Add To Cart button */
html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store button {
	font-style: $button_font_style;
	font-weight: $button_font_weight;
	line-height: $button_line_height;
	font-family: @font_family( $button_font_family );
	letter-spacing: $button_letter_spacing{px};
}

/* Product Add To Cart button normal state */
html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .form-control--secondary .form-control__button,
html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .form-control--primary .form-control__button {
	border-color: $accent_color;
	color: $accent_color;
}

/* Product Add To Cart button hover state, Product Category active state */
html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .form-control--secondary .form-control__button:hover,
html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .form-control--primary .form-control__button:hover,
html#ecwid_html body#ecwid_body .horizontal-menu-container.horizontal-desktop .horizontal-menu-item.horizontal-menu-item--active>a {
	border-color: $accent_color;
	background-color: $accent_color;
	color: $invert_text_color;
}

/* Black Product Add To Cart button normal state */
html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .grid__products--appearance-hover .grid-product--dark .form-control--secondary .form-control__button {
	border-color: $accent_color;
	background-color: $accent_color;
	color: $invert_text_color;
}

/* Black Product Add To Cart button normal state */
html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .grid__products--appearance-hover .grid-product--dark .form-control--secondary .form-control__button:hover {
	border-color: $invert_text_color;
	background-color: $invert_text_color;
	color: $accent_color;
}

/* Product Add To Cart button small label */
html#ecwid_html body#ecwid_body .ec-size.ec-size--l .ec-wrapper .ec-store .form-control .form-control__button {
font-size: @font_size($button_font_size, multiple, ceil, 0.9)px;
}

/* Product Add To Cart button medium label */
html#ecwid_html body#ecwid_body .ec-size.ec-size--l .ec-wrapper .ec-store .form-control--small .form-control__button {
	font-size: $button_font_size{px};
}

/* Product Add To Cart button large label */
html#ecwid_html body#ecwid_body .ec-size.ec-size--l .ec-wrapper .ec-store .form-control--medium .form-control__button {
	font-size: @font_size($button_font_size, multiple, ceil, 1.2)px;
}

/* Mini Cart icon styles */
html#ecwid_html body#ecwid_body .ec-minicart__body .ec-minicart__icon .icon-default path[stroke],
html#ecwid_html body#ecwid_body .ec-minicart__body .ec-minicart__icon .icon-default circle[stroke] {
	stroke: $link_color;
}

html#ecwid_html body#ecwid_body .ec-minicart:hover .ec-minicart__body .ec-minicart__icon .icon-default path[stroke],
html#ecwid_html body#ecwid_body .ec-minicart:hover .ec-minicart__body .ec-minicart__icon .icon-default circle[stroke] {
	stroke: $link_hover_color;
}









.booked-calendar-shortcode-wrap .booked-calendar-wrap .booked-calendar .booked-appt-list .timeslot-time .timeslot-title {
	color: $blue_color;
}
.booked-calendar-shortcode-wrap .booked-calendar-wrap .booked-calendar .booked-appt-list .timeslot-time .timeslot-range {
	color: $dark_blue_lighter_1_color;
}
.booked-calendar-shortcode-wrap .booked-calendar-wrap .booked-calendar .booked-appt-list .timeslot-time .spots-available {
	color: $dark_blue_lighter_1_color;
}
.booked-calendar-shortcode-wrap .booked-calendar-wrap .booked-calendar .booked-appt-list .timeslot-people button {
	background: $dark_blue_lighter_1_color!important;
	color: $white;
}
.booked-calendar-shortcode-wrap .booked-calendar-wrap .booked-calendar .booked-appt-list .timeslot-people button:hover {
	background: $purple_color_lighter_1 !important;
}
.booked-calendar-shortcode-wrap .booked-calendar-wrap thead th .monthName {
	color: $dark_blue_lighter_1_color;
}
.booked-calendar-shortcode-wrap .booked-calendar-wrap thead th .monthName .backToMonth {
	color: $purple_color;
}
.booked-calendar-shortcode-wrap .booked-calendar-wrap thead .days th {
	color: $dark_blue_lighter_1_color !important;
	background: $blue_color_lighter_4 !important;
}
.booked-calendar-shortcode-wrap .booked-calendar-wrap tbody tr.entryBlock {
	background: $white;
}
.booked-calendar-shortcode-wrap .booked-calendar-wrap tbody tr.entryBlock td h2 {
	color: $dark_blue_lighter_1_color;
}
.booked-calendar-shortcode-wrap .booked-calendar-wrap tbody tr td {
	border: none;
}
.booked-calendar-shortcode-wrap .booked-calendar-wrap tbody tr td.active .date .number {
	color: $white !important;
}
.booked-calendar-shortcode-wrap .booked-calendar-wrap tbody tr.week td .date {
	background: $blue_color_lighter_2;
}
.booked-calendar-shortcode-wrap .booked-calendar-wrap tbody tr.week td .date .number {
	color: $dark_blue_lighter_1_color;
}
.booked-calendar-shortcode-wrap .booked-calendar-wrap tbody tr.week td .date:hover {
	background: $dark_blue_lighter_1_color;
}
.booked-calendar-shortcode-wrap .booked-calendar-wrap tbody tr.week td .date:hover .number {
	color: $white;
}
.booked-calendar-shortcode-wrap .booked-calendar-wrap tbody tr.week td.prev-date .date {
	background: #FAFAFB !important;
}
.booked-calendar-shortcode-wrap.small thead tr:first-child {
	background: $blue_color_lighter_2;
}
.booked-calendar-shortcode-wrap.small tbody.entryBlock td .booked-appt-list h2 strong {
	color: $dark_blue_lighter_1_color;
}

body .booked-modal .booked-scrollable {
	background: $white !important;
}
body .booked-modal .booked-form p {
	color: $dark_blue_lighter_1_color;
}
body .booked-modal .booked-form input.button-primary[type=submit] {
	background: $dark_blue_lighter_1_color;
	color: $white;
}
body .booked-modal .booked-form input.button-primary[type=submit]:hover {
	background: $purple_color !important;
}
body .booked-modal .booked-form .cancel, body .booked-modal .booked-form .booked-forgot-goback {
	background: $white !important;
	border: 1px solid $dark_blue_lighter_2_color;
	box-sizing: border-box;
	color: $dark_blue_lighter_1_color !important;
}
body .booked-modal .booked-form .cancel:hover, body .booked-modal .booked-form .booked-forgot-goback:hover {
	border: 1px solid $purple_color;
	background: $purple_color !important;
	color: $white !important;
}
body .booked-modal .booked-form .cf-block .textfield {
	background: $dark_blue_lighter_3_color !important;
	color: #8a93b3;
}
body .booked-modal .booked-title-bar {
	background: $purple_color !important;
}
body .booked-modal .booked-title-bar small {
	color: $white;
}
body .booked-modal .bookings .booked-appointments {
	background: $blue_color_lighter_4;
}
body .booked-modal .bookings .booked-appointments .booked-appointment-details .appointment-title {
	color: $blue_color;
}
body .booked-modal .bookings .booked-appointments .booked-appointment-details .appointment-info {
	color: $dark_blue_lighter_1_color;
}




body #booked-profile-page .booked-profile-header .booked-user h3 {
	color: $dark_blue_lighter_1_color;
}
body #booked-profile-page .booked-profile-header .booked-user h3 a {
	color: $dark_blue_lighter_1_color;
}
body #booked-profile-page .booked-profile-header .booked-user h3 a:hover {
	color: $blue_color;
}
body #booked-profile-page .booked-tabs {
	border-color: $dark_blue_lighter_2_color !important;
}
body #booked-profile-page .booked-tabs li a {
	color: $dark_blue_lighter_1_color;
}
body #booked-profile-page .booked-tabs li a:before {
	background: $blue_color;
}
body #booked-profile-page .booked-tabs li a:hover {
	color: $blue_color !important;
}
body #booked-profile-page .booked-tabs li.active a {
	color: $blue_color !important;
}
body #booked-profile-page .booked-tabs li.active a:hover {
	color: $blue_color !important;
}
body #booked-profile-page .booked-tab-content h4 {
	color: $dark_blue_lighter_1_color;
}
body #booked-profile-page .booked-tab-content .appt-block {
	border-bottom: 1px solid;
	border-color: $dark_blue_lighter_2_color;
	color: #8e97b6;
}
body #booked-profile-page .booked-tab-content .appt-block.approved {
	color: $dark_blue_lighter_1_color;
}
body #booked-profile-page .booked-tab-content .appt-block.approved .status-block {
	color: #20991A;
}
body #booked-profile-page .booked-tab-content .appt-block .booked-cal-buttons .cancel {
	background: $white !important;
	color: $dark_blue_lighter_1_color !important;
}
body #booked-profile-page .booked-tab-content .appt-block .booked-cal-buttons .cancel:hover {
	border: 1px solid $purple_color;
	background: $purple_color !important;
	color: $white !important;
}
body #booked-profile-page .booked-tab-content .appt-block .booked-cal-buttons .addeventatc {
	color: $white !important;
	background: $dark_blue_lighter_1_color;
}
body #booked-profile-page .booked-tab-content .appt-block .booked-cal-buttons .addeventatc:hover {
	border: none !important;
	background: $purple_color !important;
}
body #booked-profile-page #booked-page-form p label {
	color: $dark_blue_lighter_1_color;
}
body #booked-profile-page #booked-page-form p .booked-upload-wrap {
	background: $blue_color_lighter_4;
}
body #booked-profile-page #booked-page-form p .booked-upload-wrap span {
	color: $dark_blue_lighter_1_color;
}
body #booked-profile-page #booked-page-form p input[type=text], body #booked-profile-page #booked-page-form p input[type=password], body #booked-profile-page #booked-page-form p input[type=email], body #booked-profile-page #booked-page-form p textarea {
	background: $dark_blue_lighter_3_color;
	border: 2px solid $dark_blue_lighter_3_color;
	color: #8a93b3;
}
body #booked-profile-page #booked-page-form p input[type=text]:focus, body #booked-profile-page #booked-page-form p input[type=password]:focus, body #booked-profile-page #booked-page-form p input[type=email]:focus, body #booked-profile-page #booked-page-form p textarea:focus {
	background: $white;
	border: 2px solid $blue_color_lighter_2;
	color: $dark_blue_lighter_1_color;
}
body #booked-profile-page #booked-page-form p .hint-p {
	color: #8E97B6;
}
body #booked-profile-page #booked-page-form p #updateuser {
	color: $white;
	background: $dark_blue_lighter_1_color;
}
body #booked-profile-page #booked-page-form p #updateuser:hover {
	background: $purple_color_lighter_1 !important;
}
