html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

blockquote,
q {
	quotes: none;
	&:before,
	&:after {
		content: '';
	}
	&:before {
		content: url("data:image/svg+xml; charset=utf8, %3Csvg%20width%3D%2224%22%20height%3D%2220%22%20viewBox%3D%220%200%2024%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M22.0184%200.049312C22.4715%20-0.13127%2022.9563%200.206909%2022.9563%200.692705C22.9563%200.987483%2022.7701%201.24902%2022.4958%201.3602C20.5859%202.1344%2019.0715%203.29149%2017.9526%204.83147C16.7451%206.47295%2016.1414%208.18536%2016.1414%209.9687C16.1414%2010.3537%2016.2028%2010.6375%2016.3256%2010.8198C16.4074%2010.9414%2016.4995%2011.0022%2016.6019%2011.0022C16.7042%2011.0022%2016.8577%2010.9313%2017.0623%2010.7894C17.7172%2010.3233%2018.546%2010.0903%2019.5488%2010.0903C20.7153%2010.0903%2021.7488%2010.5665%2022.6493%2011.519C23.5498%2012.4512%2024%2013.5658%2024%2014.8628C24%2016.2205%2023.4781%2017.4162%2022.4344%2018.4497C21.4112%2019.4832%2020.1628%2020%2018.6893%2020C16.9702%2020%2015.4865%2019.3008%2014.2381%2017.9025C12.9898%2016.5042%2012.3656%2014.6297%2012.3656%2012.2789C12.3656%209.54313%2013.2149%207.09104%2014.9135%204.92266C16.4637%202.94377%2018.832%201.31932%2022.0184%200.049312ZM9.65282%200.049312C10.1059%20-0.13127%2010.5907%200.206909%2010.5907%200.692705C10.5907%200.987483%2010.4045%201.24902%2010.1302%201.3602C8.22035%202.1344%206.70594%203.29149%205.58698%204.83147C4.37953%206.47295%203.77581%208.18536%203.77581%209.9687C3.77581%2010.3537%203.83721%2010.6375%203.96%2010.8198C4.04186%2010.9414%204.13395%2011.0022%204.23628%2011.0022C4.3386%2011.0022%204.49209%2010.9313%204.69674%2010.7894C5.35163%2010.3233%206.18047%2010.0903%207.18326%2010.0903C8.34977%2010.0903%209.38326%2010.5665%2010.2837%2011.519C11.1842%2012.4512%2011.6344%2013.5658%2011.6344%2014.8628C11.6344%2016.2205%2011.1126%2017.4162%2010.0688%2018.4497C9.04558%2019.4832%207.79721%2020%206.32372%2020C4.60465%2020%203.12093%2019.3008%201.87256%2017.9025C0.624186%2016.5042%200%2014.6297%200%2012.2789C0%209.54313%200.849302%207.09104%202.54791%204.92266C4.09807%202.94377%206.46638%201.31932%209.65282%200.049312Z%22%20fill%3D%22%2389CCF7%22%2F%3E%0A%3C%2Fsvg%3E%0A");
		width: 24px;
		height: 20px;
		display: block;
		margin:0 auto 27px;
	}
}

blockquote {
	position: relative;
	padding: 50px 15% 58px 15% !important;
	margin: 35px 0;
	text-align: center;
	line-height: 1.5;
	clear: left;

	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
	
	p {
		margin: 30px 0 0;

		&:first-child {
			margin-top: 0;
		}

		&:before {
			content: '“';
		}

		&:after {
			content: '”';
		}

		&:before,
		&:after {
			display: inline-block;
			vertical-align: bottom;
		}
	}

	cite {
		position: relative;
		display: inline-block;
		margin-top: 18px;
		font-style: normal;
		text-align: center !important;
		font-size: 14px !important;
		
		&:before {
			content: '—';
			display: inline-block;
			vertical-align: middle;
			margin-right: 4px;
		}

		em {
			font-style: normal;
		}
	}

	:root .has-cyan-bluish-gray-background-color & {
		background: none;
	}
}


hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin: 1.5em 0;
}

.svg-icon {
	display: inline-block;
	width: 18px;
	height: 18px;
	vertical-align: middle;
	fill: currentColor;
}

.fa::before {
	content: "+";
}

.site-main {
	table {
		margin: 0 0 1.5em;
		max-width: 100%;
		width: 100%;
		border: 0;
		
		th,
		td {
			padding: 18px 20px 19px;
			vertical-align: middle;
			border: 0;
		}

		th {
			font-size: 18px;
		}

		td {
			font-size: 14px;
		}

		thead {
			background-color: #F8F8F8;

			th {
				vertical-align: bottom;
				border: 0;
			}

			& + tbody {
				tr:nth-child(2n) {
					background: #f8f8f8;
				}

				tr:nth-child(2n + 1) {
					background: #fff;
				}
			}
		}
		
		tbody {
			tr:nth-child(2n + 1) {
				background: #f8f8f8;
			}
		}
	}
}

.edit-link {
	display: inline-block;
	margin-top: 25px;
}


/*--------------------------------------------------------------
## Lists
--------------------------------------------------------------*/

@import "lists";
/*--------------------------------------------------------------
## ToTop
--------------------------------------------------------------*/

@import "totop-button";
/*--------------------------------------------------------------
## Page preloader
--------------------------------------------------------------*/

@import "page-preloader";