ul,
ol {
	padding-left:0;
	padding-right:0;
	margin-left:35px;

	& > ul, & > ol {
		margin-left: 35px;
		margin-bottom:0px!important;
	}

	.entry-content &,
	.page-content & {

		&.wp-block-gallery,
		&.blocks-gallery-grid {
			margin-left: 0;
		}

		li {
			font-size: 16px;

			@include media-breakpoint-up(xl) {
				@include font-size(22/16);
			}
		}
	}

	.wp-block-column & {
		margin-left: 35px;
	}
}

ul,
ol {
	font-weight: 400;

	&[id],
	&[class],
	&.inherit-list {
		font-weight: inherit;
	}
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

/* Inline list */
.inline-list {
	@include reset-list;
	li {
		display: inline-block;
		vertical-align: top;
	}
}

/* Custom list for single posts */
.elementor-text-editor,
.comment-content,
.entry-content {
	& > ul:not(.wp-block-gallery ) {
		list-style: none;

		ul {
			list-style: none;
		}

		li {
			position: relative;
			padding-left: 19px;
			font-weight: 300;
			font-size: 22px;
			line-height: 27px;

			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 9px;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				border: 2px solid #89CCF7;
			}
			ul, ol {
				li {
					&:before {
						content: '';
						position: absolute;
						left: 0;
						top: 10px;
						width: 10px;
						height: 10px;
						border-radius: 50%;
						border: none;
						background-color: #89CCF7;
					}
				}
			}
		}
	}
}