.comments {
	&-area {
		position: relative;
		margin-top: 50px;
		margin-bottom: 0px;


		.post-navigation + &,
		.related-posts + &,
		.post-author-bio + & {
			margin-top: 131px;
			@include media-breakpoint-down(xs) {
				margin-top: 70px;
			}
		}


		.elementor-page.position-fullwidth & {
			margin-bottom: 50px;
		}
	}

	&-title {
		margin-bottom: 45px;
	}
}

.comment {

	
	&-list {
		list-style: none;
		overflow: hidden;
		margin-left: 0;
		.comment {
			margin-bottom: 20px;
			&:last-child {
				margin-bottom: 0px;
			}
		}

		.children {
			margin-left: 0;
			list-style: none;
			@include media-breakpoint-up(md) {
				padding-left: 30px;
			}
		}

		.parent.depth-1 > .children,
		.parent.depth-2 > .children {
			@include media-breakpoint-up(xl) {
				padding-left: 80px;
			}
		}

		> .comment,
		> .pingback {

			&:first-child {
				&:before { content: none }
			}
		}
	}

	&-body {
		margin-bottom: 20px;
		&:last-child {
			margin-bottom: 0px;
		}
		&__holder {
			background:transparent!important;
			position: relative;
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
		}

		.reply {
			.comment-reply-link {
				font-weight: 500;
				font-size: 14px;
				line-height: 17px;
				color: #298CD3;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	&-metadata {
		span {
			display: inline-block!important;
			margin-right: 5px;
			text-transform: none;
			&.fn {
				a {
					text-transform: uppercase;
				}
			}
			&:last-child {
				margin-right: 0px;
			}
		}
	}

	&-meta {
		display: flex;
		justify-content: space-between;
		margin-top: 0px;
		margin-bottom: 13px;

		span {
			display: block;
		}
	}
	&-content {
		background: #F6F7F9;
		border-radius: 0px 15px 15px 15px;
		padding:30px;
		font-weight: 300;
		font-size: 18px;
		line-height: 22px;
		color: #1E306E;
		position: relative;
		margin-bottom: 13px;
		&:before {
			content: '';
			display: block;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 18px 18px 0;
			border-color: transparent #f6f7f9 transparent transparent;
			position: absolute;
			left:-18px;
			top:0px;
		}
	}

	&-content-wrap {
		flex-grow: 1;
		min-width: 0px;

	}
	&-author {
		flex-basis: 64px;
		max-width: 64px;
		width: 64px;
		min-width: 64px;
		margin-right: 36px;
		border-radius: 50%;
		overflow: hidden;
		@include media-breakpoint-down(md) {
			flex-basis: 40px;
			max-width: 40px;
			width: 40px;
			min-width: 40px;
		}
		img {
			display: block;
			width: 100%;
		}
	}
}
