.comments {
	&-area {
		position: relative;
		margin-top: 50px;
		margin-bottom: 140px;

		.post-navigation + &,
		.related-posts + &,
		.post-author-bio + & {
			margin-top: 131px;
		}

		.elementor-page.position-fullwidth & {
			margin-bottom: 50px;
		}
	}

	&-title {
		margin-bottom: 45px;
	}
}

.comment {
	
	&-list {
		list-style: none;
		overflow: hidden;
		margin-left: 0;
		margin-bottom: 10px;
		
		.comment {
			margin-bottom: 10px;
		}

		.children {
			margin-left: 0;
			margin-top: 10px;
			margin-bottom: 30px;
			padding-left: 10px;
			list-style: none;
			
			@include media-breakpoint-up(md) {
				padding-left: 30px;
			}
		}

		.parent.depth-1 > .children,
		.parent.depth-2 > .children {
			@include media-breakpoint-up(xl) {
				padding-left: 80px;
			}
		}

		> .comment,
		> .pingback {

			&:first-child {
				&:before { content: none }
			}
		}
	}

	&-body {
		
		&__holder {
			position: relative;
			display: flex;
			flex-wrap: wrap;
			padding: 25px 30px 23px;

			@include media-breakpoint-up(xl) {
				padding: 40px 40px 43px;
			}
		}

		.avatar {
			margin-right: 20px;
			border-radius: 50%;
			margin-bottom: 10px;

			@include media-breakpoint-down(sm) {
				width: 40px;
			}
		}

		.reply {
			margin-top: -20px;
			margin-right: -20px;

			.icon-svg__comments {
				width: 16px;
				height: 16px;
				margin-right: 7px;
			}
			
			.comment-reply-link {
				font-weight: 500;
				font-size: 18px;

				@include media-breakpoint-down(sm) {
					font-size: 15px;
				}
			}

			@include media-breakpoint-down(sm) {
				position: absolute;
				top: 10px;
				right: 10px;
				margin: 0;
			}
		}
	}

	&-meta {
		display: flex;
		justify-content: space-between;
		margin-top: 8px;
		margin-bottom: 9px;

		span {
			display: block;
		}
	}

	&-content-wrap {
		flex: 1 1 200px;
		max-width: 100%;
	}
	&-author {
		flex-shrink: 0;
	}
}
