/**
 * Variations form
 */
.woocommerce table.variations {
	width: 100%;
	border: 0;
	margin-bottom: 0px!important;
	tr, td {
		display: block;
		margin: 0;
		border-radius:0;
		border:0;
		background: none !important;
	}

	tr {
		
		td {
			padding: 0 0 10px 0;
			font-size: 14px;
		}
	}

	.label {
		min-width: 80px;
		font-weight: 600;
		font-size: 12px;
		line-height: 15px;
		letter-spacing: 0.3px;
		text-transform: uppercase;
		border: 0;
		padding-bottom:6px;
	}

	td.value {
		position: relative;
		padding-bottom: 3px;
		
		select {
			@include media-breakpoint-down(lg) {
				width: 100%;
			}
		}
		
		.reset_variations {
			float: left;
			font-size: 14px;
		}
	}
	
	select {
		display: block;
		max-width: 200px;
		width: 100%;
		border-radius: 6px;
		cursor: pointer;
		font-weight: 300;
		font-size: 18px;
		line-height: 22px;
		padding:7px 25px 7px 20px;
		height: 54px;
		margin-bottom: 0px!important;
		@include media-breakpoint-down(md) {
			max-width: 100%;
		}
	}

	tr + tr {
		padding-top: 30px;
	}

	tr:last-child select {
		margin-bottom: 5px;
	}

	// clear button
	.reset_variations {
		font-size: $wc-variations-clear-btn-fz;
		line-height: $wc-variations-clear-btn-lh;
		padding: 0;
		display: inline-block !important;
		margin-bottom: 10px;
	}
}

.single-product {
	
	// Quantity
	.quantity {
		display: inline-block;
		vertical-align: top;
		margin-bottom: 27px;
		margin-right: 17px;
	
		label:not(.screen-reader-text){
			clip: auto;
			position: relative !important;
			top: 0;
			height: auto;
			width: auto;
			overflow: visible;
			display: inline-block;
			margin-bottom: 5px;
		}
		
		input {
			width: 90px;
			height: 70px;
			padding: 0;
			text-align: center;
			font-weight: 500;
			font-size: 20px;
			line-height: 25px;
			border-radius: 6px;
		}
	}

	// add to cart button
	.single_add_to_cart_button {
		border:none;
		border-radius: 6px;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		padding: 25px 15px;
		min-width: 215px;
		text-align: center;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		&:before {
			background-color: transparent;
			content: url("data:image/svg+xml; utf8, %3Csvg%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cg%20clip-path%3D%22url(%23clip0)%22%3E%0A%3Cpath%20d%3D%22M0%201C0%200.447715%200.441824%200%200.986841%200H4.6718L6.02639%204.11797C6.23453%204.04187%206.4605%204%206.69886%204H16.0248C17.372%204%2018.3232%205.33739%2017.8972%206.63246L16.2525%2011.6325C15.9838%2012.4491%2015.2296%2013%2014.3801%2013H8.3436C7.49406%2013%206.73984%2012.4491%206.4712%2011.6325L5.145%207.60081C5.08275%207.51682%205.03259%207.42137%204.99801%207.31623L3.24925%202H0.986841C0.441824%202%200%201.55228%200%201Z%22%20fill%3D%22white%22%2F%3E%0A%3Cpath%20d%3D%22M7.90789%2018C8.99792%2018%209.88157%2017.1046%209.88157%2016C9.88157%2014.8954%208.99792%2014%207.90789%2014C6.81785%2014%205.93421%2014.8954%205.93421%2016C5.93421%2017.1046%206.81785%2018%207.90789%2018Z%22%20fill%3D%22white%22%2F%3E%0A%3Cpath%20d%3D%22M14.8158%2018C15.9058%2018%2016.7895%2017.1046%2016.7895%2016C16.7895%2014.8954%2015.9058%2014%2014.8158%2014C13.7257%2014%2012.8421%2014.8954%2012.8421%2016C12.8421%2017.1046%2013.7257%2018%2014.8158%2018Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fg%3E%0A%3Cdefs%3E%0A%3CclipPath%20id%3D%22clip0%22%3E%0A%3Crect%20width%3D%2218%22%20height%3D%2218%22%20fill%3D%22white%22%2F%3E%0A%3C%2FclipPath%3E%0A%3C%2Fdefs%3E%0A%3C%2Fsvg%3E%0A");
			display: inline-block;
			vertical-align: middle;
		}
		&:hover {
			&:before {
				background-color: transparent;
			}
		}
		display: inline-block;
		vertical-align: top;
		@include media-breakpoint-down(xs) {
			min-width: calc(100% - 114px);
		}
		&.disabled {
			opacity: .3;
		}
	}
}

// grouped list
table.woocommerce-grouped-product-list {
	padding-bottom: 10px;
	border:0;
	
	tr, td {
		border-radius:0;
		border:0;
		background: none !important;
	}

	@include media-breakpoint-up(md) {
		margin-bottom: 2.15em;
	}

	&.variations_form {
		margin-bottom: 30px;
	}

	.single_variation_wrap {
		.woocommerce-variation-price {
			padding: 0 0 15px;
		}
	}

	.variations_form {
		margin-bottom: 10px;
	}

	.woocommerce-grouped-product-list-item__price {
		font-size: 24px;

		del {
			font-size: 18px;
		}
		
		ins {
			font-style: normal;
			border: 0;
		}
	}

	div.quantity {
		float: left;
		margin: 0 10px 0 0;
		position: relative;
		
		input[type="number"]::-webkit-inner-spin-button,
		input[type="number"]::-webkit-outer-spin-button {
			-webkit-appearance: none;
		}
		
		input.qty {
			width: 80px;
			text-align: center;
			appearance: none;
			line-height: 2.3;
		}
		
		.tm-qty-minus,
		.tm-qty-plus {
			display: none;
		}
	}
	
	.button {
		clear: left;
		margin-top: 20px;
		font-size: 12px;
		padding: 22.5px 30px 22.5px 60px;
	}
}