/**
 * Single Product Summary
 */
.single-product {

	.onsale {
		margin-bottom: 30px;
	}
	
	.product-summary__wrap {
		order: 0;
	}

	.product_title {
		margin: 0px 0px 10px 0px;
		font-weight: 600!important;
		font-size: 24px!important;
		line-height: 30px!important;
		color: #1E306E;
	}
	.woocommerce-product-rating {
		margin-bottom: 28px;
		.star-rating {
			vertical-align: top;
		}
		.woocommerce-review-link {
			position:relative;
			top:2px;
			font-weight: 300;
			font-size: 14px;
			line-height: 17px;
			text-decoration: underline;
			color: #298CD3;
			vertical-align: top;
			&:hover {
				text-decoration: none;
			}
		}
	}


	.price,
	.jet-woo-builder.elementor-jet-single-price .price {
		font-weight: 600;
		font-size: 24px;
		line-height: 30px;
		margin-bottom: 30px;

		ins {
			color: #FF7461!important;
			font-size: 24px;
			line-height: 30px;
		}

		del {
			text-decoration: line-through;
			font-weight: 300;
			font-size: 16px;
			line-height: 20px;
			color: #1E306E;
		}
	}

	.woocommerce-product-details__short-description {
		margin-bottom: 30px;
		font-weight: 300;
		font-size: 18px;
		line-height: 22px;
		color: #1E306E;

	}

	.product_meta {
		font-weight: 300;
		font-size: 14px;
		line-height: 20px;
		& > span {
			color: #1E306E;
			display: block;
			 & > span, & > a {
				 color: #298CD3;
			 }
		}
	}

	.product_sharing {
		padding-top: 55px;

		a {
			display: inline-block;
			vertical-align: top;
			width: 24px;
			height: 24px;
			margin-right: 26px;

			svg {
				vertical-align: top;
			}

			path {
				fill: #bfbfbf;
				transition: fill 0.2s ease-out;
			}
		}
	}
}
