/**
 * Single Product Summary
 */
.single-product {
	
	.product-summary__wrap {
		order: 0;
	}

	.product_title {
		margin: 0;
	}

	.price,
	.jet-woo-builder.elementor-jet-single-price .price {
		margin-top: 10px;
		margin-bottom: 28px;
		line-height: 42px;
		font-size: 36px;

		ins {
			font-size: 36px;
		}

		del {
			text-decoration: line-through;
			font-size: 24px;
		}
	}

	.woocommerce-product-details__short-description {
		margin-bottom: 57px;
	}

	.product_meta {
		padding-top: 35px;
		text-transform: uppercase;
		font-size: 12px;

		> span {
			display: block;
		}
	}

	.product_sharing {
		padding-top: 55px;

		a {
			display: inline-block;
			vertical-align: top;
			width: 24px;
			height: 24px;
			margin-right: 26px;

			svg {
				vertical-align: top;
			}

			path {
				fill: #bfbfbf;
				transition: fill 0.2s ease-out;
			}
		}
	}
}
