/**
 * WooCommerce tabs
 */
.woocommerce-tabs {
	margin-top: 120px;
	margin-bottom: 120px;
	padding: 0;
	border-bottom: 0;
	
	//  woocommerce panel
	.panel {
		margin: 0;
		padding-top: 70px;

		h2 {
			font-weight: 500;
			font-size: 34px;
			line-height: 42px;
			color: #1E306E;
			margin: 0 0 27px;
		}
		
		&.woocommerce-Tabs-panel--additional_information {
			h2 {
				display: none;
			}

			table {
				padding-top: 10px;
				border: 0;

				tr {
					background: none;

					th, td {
						text-align: left;
						text-transform: capitalize;
						font-weight: 400;
						line-height: 23px;
						font-size: 14px;
						border: 0;
					}

					th {
						width: 140px;
						max-width: 140px;
						padding: 0 20px 0 0;
						
					}

					td{
						padding: 0;
					}
				}
			}
		}

		&.woocommerce-Tabs-panel--reviews {
			.comment-form-rating {
				.stars {
					margin-top:0px;
					a {
						&:before {
							background-color: #F8BD4B;
						}
					}
				}
			}
			.comment-form-comment {
				textarea {
					background: #FFFFFF;
					border: 2px solid #BCE0F7;
					box-sizing: border-box;
					border-radius: 6px;
					font-weight: 300;
					font-size: 18px!important;
					line-height: 22px;
					color: #1E306E;
					padding:15px;
				}
			}

			.woocommerce-noreviews {
				font-weight: 300;
				font-size: 14px;
				line-height: 17px;
				color: #1E306E;
			}

			#comments {
				margin-bottom: 30px;
			}

			.woocommerce-Reviews {
				@media (min-width: 768px) {
					max-width: 70%;
				}
			}
		}

		&.woocommerce-Tabs-panel--additional_information {
			.shop_attributes {
				border-spacing: 5px;
				border-collapse: initial;
				tr {
					th {
						transition: 0.2s;
						background: #FAFAFB;
						font-weight: 600;
						font-size: 18px;
						line-height: 22px;
						color: #1E306E;
						padding:14px 25px 14px 25px;
					}
					td {
						transition: 0.2s;
						background: #FAFAFB;
						font-weight: 300;
						font-size: 18px;
						line-height: 22px;
						color: #1E306E;
						padding:14px 25px 14px 25px;
					}
					&:hover {
						th {
							background: #EEEFF4;
						}
						td {
							background: #EEEFF4;
						}
					}
				}
			}
		}
	}
	
	//  woocommerce tabs list
	.wc-tabs {
		list-style: none;
		margin: 0;
		border-bottom:1px solid #DDE0E9;
		
		//  woocommerce tabs element
		li {
			position: relative;
			width: 100%;
			margin: 0 0 20px;

			&:first-child {
				margin-left: 0;
			}
			
			@include media-breakpoint-up(sm) {
				display: inline-block;
				vertical-align: top;
				width: auto;
				margin-left: 30px;
			}
			
			a {
				position: relative;
				display: inline-block;
				vertical-align: top;
				padding: 0;
				font-weight: 500;
				font-size: 16px;
				line-height: 20px;
				text-transform: uppercase;
				color: #1E306E;
				&:after {
					content: '';
					position: absolute;
					left: 0;
					bottom: -22px;
					width: 0;
					height: 3px;
					background-color: #298CD3;
					transition: width 0.2s ease-out;
					@include media-breakpoint-down(sm) {
						bottom:0px;
					}
				}
			}

			&.active {
				a {
					color:#298CD3;
					&:after {
						width: 100%;
					}
				}
			}
		}
	}
}

.woocommerce-Tabs-panel--description.panel {
	
	
}