/* Products Panel */
.woocommerce-products__panel .woocommerce-result-count {
	color: $secondary_text_color;
}

/* Products List */
.product-categories li,
.product-categories li a{
	font-style: $meta_font_style;
	font-weight: $meta_font_weight;
	font-size: $meta_font_size{px};
	line-height: $meta_line_height;
	font-family: @font_family( $meta_font_family );
	letter-spacing: $meta_letter_spacing{em};
	text-transform: $meta_text_transform;
	color: $secondary_text_color;
}

.product-categories li a:hover,
.product-widget-tags li a:hover{
	color: $primary_text_color;
}

.products.products-grid .product-content:before{
	background-color: $invert_text_color;
}

/* price */
.woocommerce .products .product .price del,
.woocommerce div.product p.price del,
.woocommerce div.product span.price del,
.widget .woocs_price_code del,
.widget_products del {
	color: $secondary_text_color;
}
.woocommerce .products .product .price,
.woocommerce div.product .woocommerce-variation-price span.price,
.woocommerce div.product span.price,
.woocommerce .price,
.woocommerce div.product p.price,
.woocommerce.widget .woocs_price_code,
.woocommerce div.product p.price ins,
.woocommerce div.product span.price ins{
	color: $blue_color;
}

/* product list title */
.products .product .woocommerce-loop-product__title{
	font-style: $h5_font_style;
	font-weight: $h5_font_weight;
	font-size:  $h5_font_size{px};
	line-height: $h5_line_height;
	font-family: @font_family( $h5_font_family );
	letter-spacing: $h5_letter_spacing{em};
	text-align: $h5_text_align;
	color: $h5_color;
}
.products .product .woocommerce-loop-product__title:hover a {
	color: $link_hover_color;
}

.woocommerce-loop-product__description {
	color: $dark_blue_lighter_1_color !important;
}

/* archive title */
.woocommerce-products-header__title.page-title{
	font-style: $h2_font_style;
	font-weight: $h2_font_weight;
	font-size: $h2_font_size{px};
	line-height: $h2_line_height;
	font-family: @font_family( $h2_font_family );
	letter-spacing: $h2_letter_spacing{em};
	text-align: $h2_text_align;
	color: $h2_color;
}

/* Products List navigation */
.woocommerce-pagination ul.page-numbers li .page-numbers.prev,
.woocommerce-pagination ul.page-numbers li .page-numbers.next,
.woocommerce-pagination ul.page-numbers li .page-numbers:hover,
.woocommerce-pagination ul.page-numbers li .page-numbers.current{
	color: $primary_text_color;
}
.woocommerce-pagination ul.page-numbers li .page-numbers .nav-icon.icon-prev::before,
.woocommerce-pagination ul.page-numbers li .page-numbers .nav-icon.icon-next::before {
	background-color: $primary_text_color;
}

/* Single product title */
.woocommerce.single-product div.product h1.product_title,
.woocommerce .single-product div.product h1.product_title {
	font-style: $h2_font_style;
	font-weight: $h2_font_weight;
	font-size: @font_size($h2_font_size, multiple, ceil, 0.68)px;
	line-height: $h2_line_height;
	font-family: @font_family( $h2_font_family );
	letter-spacing: $h2_letter_spacing{em};
	text-align: $h2_text_align;
}
@media (min-width: 1200px) {
	.woocommerce.single-product div.product h1.product_title,
	.woocommerce .single-product div.product h1.product_title {
		font-size: $h2_font_size{px};
	}
}

/* Single product */
.woocommerce table.variations .reset_variations,
.woocommerce-review-link{
	font-weight: $h4_font_weight;
}

.single-product .quantity input {
	color: $primary_text_color;
}

.single-product .single_add_to_cart_button.button {
	color: $invert_text_color;
	background-color: $btn_bg_color;
	border-color: $btn_bg_color;
}

.single-product .single_add_to_cart_button.button:hover {
	color: $primary_text_color;
	background-color: $invert_text_color;
	border-color: $btn_border_color;
}

/* single add to cart button */
.single-product .single_add_to_cart_button:before{
	background-color: $invert_text_color;
}
.single-product .single_add_to_cart_button:hover:before{
	background-color: $primary_text_color;
}

.woocommerce table.variations select,
#page .select2-selection{
	font-style: $body_font_style;
	font-weight: $body_font_weight;
	font-family: @font_family( $body_font_family );
	background-color: $grey_color_1;
	color: $primary_text_color;
}

.woocommerce.single-product #content div.product .product_meta,
.woocommerce.single-product #content div.product .product_meta a{
	color: $secondary_text_color;
}
.woocommerce.single-product #content div.product .product_meta a:hover{
	color: $primary_text_color;
}

.single-product .product_sharing a:hover path {
	fill: $primary_text_color;
}

/* Single Product Tabs */
.woocommerce-tabs .tabs li a{
	color: $secondary_text_color;
}
.woocommerce-tabs .tabs li a:hover,
.woocommerce-tabs .tabs li.active a {
	color: $primary_text_color;
}
.woocommerce-tabs .tabs li a:after{
	background-color: $primary_text_color;
}

.woocommerce-tabs .panel h2 {
	font-style: $h4_font_style;
	font-weight: $h4_font_weight;
	font-size: @font_size($h4_font_size, multiple, ceil, 0.8)px;
	line-height: $h4_line_height;
	font-family: @font_family( $h4_font_family );
	letter-spacing: $h4_letter_spacing{em};
	text-align: $h4_text_align;
	color: $h4_color;
}
@media (min-width: 1200px) {
	.woocommerce-tabs .panel h2 {
		font-size: $h2_font_size{px};
	}
}
.panel.woocommerce-Tabs-panel--additional_information table tr td {
	color: $secondary_text_color;
}
.woocommerce-Tabs-panel--reviews .woocommerce-noreviews {
	color: $secondary_text_color;
}
.woocommerce-Tabs-panel--reviews .comment-respond .comment-reply-title {
	font-style: $h5_font_style;
	font-weight: $h5_font_weight;
	font-size: $h5_font_size{px};
	line-height: $h5_line_height;
	font-family: @font_family( $h5_font_family );
	letter-spacing: $h5_letter_spacing{em};
	text-align: $h5_text_align;
	color: $h5_color;
}

.star-rating:before{
	background-color: $dark_blue_lighter_2_color;
}
.star-rating span:before {
	background-color: #F8BD4B;
}
.stars a:before {
	background-color: $dark_blue_lighter_2_color;
}





#review_form .comment-form-comment textarea,
#review_form .comment-form-author input,
#review_form .comment-form-email input,
#review_form .comment-form-url input {
	color: $primary_text_color;
}

.woocommerce-Reviews .comment_container{
	background-color: $grey_color_1;
}
.woocommerce-Reviews ol.commentlist li .meta {
	font-style: $meta_font_style;
	font-weight: $meta_font_weight;
	font-size: $meta_font_size{px};
	line-height: $meta_line_height;
	font-family: @font_family( $meta_font_family );
	letter-spacing: $meta_letter_spacing{em};
	text-transform: $meta_text_transform;
	color: $secondary_text_color;
}

/* Single product raleted & upsels */
.related > h2,
.upsells > h2 {
	font-style: $h4_font_style;
	font-weight: $h4_font_weight;
	font-size: @font_size($h4_font_size, multiple, ceil, 0.8)px;
	line-height: $h4_line_height;
	font-family: @font_family( $h4_font_family );
	letter-spacing: $h4_letter_spacing{em};
	text-align: $h4_text_align;
	color: $h4_color;
}
@media (min-width: 1200px) {
	.related > h2, .upsells > h2 {
		font-size: $h4_font_size{px};
	}
}

/* #Button Appearance Styles (regular scheme) */
.added_to_cart.wc-forward,
.woocommerce .button,
.elementor-widget-wp-widget-woocommerce_widget_cart .button {
	font-style: $button_font_style;
	font-weight: $button_font_weight;
	font-size: $button_font_size{px};
	line-height: $button_line_height;
	font-family: @font_family( $button_font_family );
	letter-spacing: $button_letter_spacing{px};
	color: $white;
	background-color: $dark_blue_color;
}
.added_to_cart.wc-forward:hover,
.woocommerce .button:hover,
.elementor-widget-wp-widget-woocommerce_widget_cart .button:hover {
	background-color: $purple_color;
}
.button.ajax_add_to_cart.added:before {
	background-color: $invert_text_color;
}
.button.ajax_add_to_cart.added:hover:before {
	background-color: $primary_text_color;
}

.woocommerce-mini-cart__buttons .wc-forward:not(.checkout),
.woocommerce .widget_price_filter .price_slider_amount .button,
.woocommerce .products .button.add_to_cart_button {
	color: $white;
	background-color: $dark_blue_color!important;
}
.woocommerce-mini-cart__buttons .wc-forward:not(.checkout):hover,
.woocommerce .widget_price_filter .price_slider_amount .button:hover,
.woocommerce .products .button.add_to_cart_button:hover {
	color: $white!important;
	background-color: $purple_color!important;
}

.added_to_cart.wc-forward:hover,
.button:hover{
	color: $invert_text_color;
	background-color: $accent_color;
	border-color: $accent_color;
}

.price,
table.woocommerce-grouped-product-list tr td.woocommerce-grouped-product-list-item__price{
	font-weight: $h4_font_weight;
}

/*     Reviews       */
ol.commentlist li .meta strong{
	font-weight: $body_font_weight;
}

ol.commentlist li .meta{
	color: $secondary_text_color;
}

/*     Single Product Thumbnails       */
.woocommerce-product-gallery__trigger{
	background-color: $invert_text_color;
	color: $primary_text_color;
}

.woocommerce-product-gallery__trigger:hover{
	background-color: $primary_text_color;
	color:$invert_text_color;
}

/*     WooCommerce cart page       */
.woocommerce-cart .page-title {
	font-style: $h2_font_style;
	font-weight: $h2_font_weight;
	font-size: $h2_font_size{px};
	line-height: $h2_line_height;
	font-family: @font_family( $h2_font_family );
	letter-spacing: $h2_letter_spacing{em};
	text-align: $h2_text_align;
	color: $h2_color;
}
.woocommerce-cart table tr td.product-remove a:before{
	background-color: $primary_text_color;
}
.woocommerce-cart table.cart tr th {
	color: $secondary_text_color;
}

.woocommerce-cart table tr td.product-name a {
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: $h6_font_size{px};
	font-family: @font_family( $h6_font_family );
	letter-spacing: $h6_letter_spacing{em};
	text-align: $h6_text_align;
	color: $h6_color;
}

.woocommerce-cart .cart-collaterals {
	background-color: $grey_color_1;
}
.woocommerce-cart .cart-collaterals h2 {
	font-family: @font_family( $body_font_family );
	font-size: $h6_font_size{px};
	letter-spacing: $h6_letter_spacing{em};
	color: $h6_color;
}
.woocommerce-cart .cart-collaterals table tr.cart-subtotal th,
.woocommerce-cart .cart-collaterals table tr.cart-subtotal td,
.woocommerce-cart .cart-collaterals table tr.cart-subtotal .amount {
	font-family: @font_family( $body_font_family );
	color: $secondary_text_color;
}

.woocommerce-cart .cart-collaterals table tr.order-total td,
.woocommerce-cart .cart-collaterals table tr.order-total th {
	font-style: $h4_font_style;
	font-weight: $h4_font_weight;
	font-size: $h4_font_size{px};
	line-height: $h4_line_height;
	font-family: @font_family( $h4_font_family );
	letter-spacing: $h4_letter_spacing{em};
	color: $h4_color;
}

.woocommerce-cart table tr td.product-quantity input{
	color:  $primary_text_color;
}

.woocommerce-cart table.cart tr td.actions .input-text {
	color:  $primary_text_color;
}
.woocommerce-cart table.cart tr td.actions .button {
	color: $primary_text_color;
	background-color: $invert_text_color;
	border-color: $btn_border_color;
}
.woocommerce-cart table.cart tr td.actions .button:hover{
	color: $invert_text_color;
	background-color: $btn_bg_color;
	border-color: $btn_bg_color;
}

.woocommerce-cart table tr th,
.woocommerce-account .woocommerce .woocommerce-MyAccount-content label {
	font-weight: $h6_font_weight;
}

.woocommerce-cart table tr td.actions > .button {
	color: $accent_color;
}

.woocommerce-cart table tr td.actions > .button:hover{
	color: $primary_text_color;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
	color:  $secondary_text_color;
}

.woocommerce-cart table tr td.actions{
	background-color: @alpha($accent_color, 5%);
}

/*     WooCommerce checkout       */
.woocommerce-checkout .page-title {
	font-style: $h2_font_style;
	font-weight: $h2_font_weight;
	font-size: @font_size($h2_font_size, multiple, ceil, 0.6)px;
	line-height: $h2_line_height;
	font-family: @font_family( $h2_font_family );
	letter-spacing: $h2_letter_spacing{em};
	text-align: $h2_text_align;
	color: $h2_color;
}
@media (min-width: 1200px) {
	.woocommerce-checkout .page-title {
		font-size: $h2_font_size{px};
	}
}

.woocommerce-checkout label,
.woocommerce-account .woocommerce label:not(.woocommerce-form__label-for-checkbox),
.lost_password a,
.comment-form label,
.woocommerce-checkout .woocommerce-checkout-review-order table tr th {
	font-weight: $h6_font_weight;
}

.woocommerce-checkout .woocommerce-checkout-review-order table tfoot,
.wc_payment_methods li .payment_box{
	background-color: @alpha($accent_color, 5%);
}

.woocommerce-checkout .woocommerce-message,
.woocommerce-checkout .woocommerce-error,
.woocommerce-checkout .woocommerce-info,
.woocommerce-checkout .woocommerce-billing-fields h3,
.woocommerce-checkout .woocommerce-checkout h3 {
	font-family: @font_family( $body_font_family );
	font-size: $h6_font_size{px};
	letter-spacing: $h6_letter_spacing{em};
	color: $h6_color;
}

label.checkbox input[type="checkbox"] + span::after,
label.inline input[type="checkbox"] + span::after {
	background-color: $primary_text_color;
}

label.checkbox.woocommerce-form__label, 
label.inline.woocommerce-form__label{
	color:  $secondary_text_color;
	font-weight: $body_font_weight;
}

.woocommerce-checkout .place-order button.button {
	color: $invert_text_color;
	background-color: $btn_bg_color;
	border-color: $btn_bg_color;
}
.woocommerce-checkout .place-order button.button:hover{
	color: $primary_text_color;
	background-color: $invert_text_color;
	border-color: $btn_border_color;
}

/*     WooCommerce my-account       */
.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul li{
	font-weight: $button_font_weight;
}

.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul li a:hover,
.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul li.is-active a{
	color: $invert_text_color;
	background-color: $primary_text_color;
	border-color: $primary_text_color;
}

.woocommerce-account .woocommerce .woocommerce-MyAccount-content table.woocommerce-orders-table tr td:first-child,
.woocommerce-account .woocommerce .woocommerce-MyAccount-content table.woocommerce-orders-table tr th,
.woocommerce-order-received .woocommerce .woocommerce-order table.shop_table.order_details tr td:first-child,
.woocommerce-order-received .woocommerce .woocommerce-order table.shop_table.order_details tr th,
.woocommerce-account .woocommerce .woocommerce-MyAccount-content table.shop_table.order_details tr td:first-child,
.woocommerce-account .woocommerce .woocommerce-MyAccount-content table.shop_table.order_details tr th{
	font-weight: $h6_font_weight;
}

.woocommerce-order-received .woocommerce .woocommerce-order table.shop_table.order_details tr td a:not(.button),
.woocommerce-account .woocommerce .woocommerce-MyAccount-content table.woocommerce-orders-table tr td a,
.woocommerce-account .woocommerce .woocommerce-MyAccount-content table.shop_table.order_details tr td a{
	color: $primary_text_color;
	font-weight:$h5_font_weight;
}

.woocommerce-order-received .woocommerce .woocommerce-order table.shop_table.order_details tr td a:not(.button):hover,
.woocommerce-account .woocommerce .woocommerce-MyAccount-content table.woocommerce-orders-table tr td a:hover,
.woocommerce-account .woocommerce .woocommerce-MyAccount-content table.shop_table.order_details tr td a:hover{
	color: $accent_color;
}

.woocommerce-order-received .woocommerce .woocommerce-order table.shop_table.order_details tr td.woocommerce-table__product-name .product-quantity,
.woocommerce-account .woocommerce .woocommerce-MyAccount-content table.woocommerce-orders-table tr td.woocommerce-table__product-name .product-quantity,
.woocommerce-account .woocommerce .woocommerce-MyAccount-content table.shop_table.order_details tr td.woocommerce-table__product-name .product-quantity{
	color: $secondary_text_color;
}

.cart-collaterals div.cart_totals table tbody tr,
.cart-collaterals div.cart_totals table tbody td,
.cart-collaterals div.cart_totals table tbody td,
.cart-collaterals div.cart_totals table tbody th,
table.order_details tfoot tr,
.woocommerce .order_details li strong {
	font-family: @font_family( $h5_font_family );
	font-weight: $h5_font_weight;
	font-size: $h5_font_size{px};
	line-height: $h5_line_height;
	color: $h5_color;
}

table.shop_table.woocommerce-checkout-review-order-table tfoot tr.tax-total th,
table.shop_table.woocommerce-checkout-review-order-table tfoot tr.tax-rate th,
.woocommerce table.shop_table.woocommerce-checkout-review-order-table tbody tr td {
	font-family: @font_family( $h6_font_family );
	font-weight: $h6_font_weight;
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	letter-spacing: $h6_letter_spacing{em};
	color: $h6_color;
}

.woocommerce-checkout .woocommerce-checkout-review-order table tbody tr td.product-total .amount {
	font-family: @font_family( $body_font_family );
	font-size: 14px;
	color: $secondary_text_color;
}

table.shop_table.woocommerce-checkout-review-order-table tfoot tr.order-total th,
.woocommerce-checkout .woocommerce-checkout-review-order table .order-total .amount {
	font-family: @font_family( $h5_font_family );
	font-weight: $h5_font_weight;
	font-size: $h5_font_size{px};
	line-height: $h5_line_height;
	letter-spacing: $h5_letter_spacing{em};
	color: $h5_color;
}

ul.woocommerce-order-overview li strong{
	font-weight: $h6_font_weight;
}

.woocommerce-order-received .woocommerce .woocommerce-order table.shop_table.order_details tr td.woocommerce-table__product-name .product-quantity{
	font-weight:$h5_font_weight;
}

.woocommerce-account .woocommerce .woocommerce-MyAccount-content legend{
	font-weight: $h2_font_weight;
}

.woocommerce-account .woocommerce .woocommerce-MyAccount-content table.woocommerce-orders-table tr td.woocommerce-orders-table__cell-order-actions .button,
.woocommerce .woocommerce-MyAccount-content table.shop_table.order_details tr td.download-file .button,
table.woocommerce-table--order-downloads.shop_table tbody tr td.download-file .button{
	font-style: $body_font_style;
	font-weight: $body_font_weight;
	font-size: $body_font_size{px};
	line-height: $body_line_height;
	font-family: @font_family( $body_font_family );
	letter-spacing: $body_letter_spacing{px};
	text-align: $body_text_align;
	color: $accent_color;
}

.woocommerce-account .woocommerce .woocommerce-MyAccount-content mark{
	color: $accent_color;
}

.woocommerce-account .woocommerce .woocommerce-MyAccount-content table.woocommerce-orders-table tr td.woocommerce-orders-table__cell-order-actions .button:hover,
.woocommerce .woocommerce-MyAccount-content table.shop_table.order_details tr td.download-file .button:hover,
table.woocommerce-table--order-downloads.shop_table tbody tr td.download-file .button:hover {
	color: $primary_text_color;
}
/*     WooCommerce widgets       */
.elementor-widget-wp-widget-woocommerce_price_filter .ui-slider-range,
.widget_price_filter .ui-slider-range,
.elementor-widget-wp-widget-woocommerce_price_filter .ui-slider-handle:hover,
.widget_price_filter .ui-slider-handle:hover {
	background-color: $primary_text_color;
}
.elementor-widget-wp-widget-woocommerce_price_filter .ui-slider-handle,
.widget_price_filter .ui-slider-handle {
	border-color: $primary_text_color;
}
.elementor-widget-wp-widget-woocommerce_price_filter .price_slider_wrapper .price_label,
.widget_price_filter .price_slider_wrapper .price_label{
	color: $secondary_text_color;
}
.elementor-widget-wp-widget-woocommerce_price_filter .button,
.widget_price_filter .button{
	color: $invert_text_color;
	border-color: $primary_text_color;
	background-color: $primary_text_color;
}
.elementor-widget-wp-widget-woocommerce_price_filter .button:hover,
.widget_price_filter .button:hover {
	color: $primary_text_color;
	background-color: transparent;
	border-color: $btn_bg_color;
}

.elementor-widget-wp-widget-woocommerce_shopping_cart,
.elementor-widget-wp-widget-woocommerce_widget_cart,
.widget_shopping_cart,
.elementor-widget-wp-widget-woocommerce_shopping_cart a:not(.button),
.elementor-widget-wp-widget-woocommerce_widget_cart a:not(.button),
.widget_shopping_cart a:not(.button),
.elementor-widget-wp-widget-woocommerce_recently_viewed_products a,
.widget_recently_viewed_products a,
.elementor-widget-wp-widget-woocommerce_products a,
.widget_products a,
.elementor-widget-wp-widget-woocommerce_top_rated_products a,
.widget_top_rated_products a,
.elementor-widget-wp-widget-woocommerce_recent_reviews a,
.widget_recent_reviews a{
	color: $primary_text_color;
}

.elementor-widget-wp-widget-woocommerce_layered_nav ul li > a,
.elementor-widget-wp-widget-woocommerce_layered_nav_filters ul li > a,
.widget_layered_nav ul li > a,
.widget_layered_nav_filters ul li > a {
	color: $secondary_text_color;
}
.elementor-widget-wp-widget-woocommerce_layered_nav ul li > a:hover,
.elementor-widget-wp-widget-woocommerce_layered_nav_filters ul li > a:hover,
.widget_layered_nav ul li > a:hover,
.widget_layered_nav_filters ul li > a:hover {
	color: $primary_text_color;
}

.elementor-widget-wp-widget-woocommerce_layered_nav ul li > a.chosen:after,
.widget_layered_nav ul li > a.chosen:after,
.elementor-widget-wp-widget-woocommerce_product_categories .product-categories li.current-cat a:after,
.widget_product_categories .product-categories li.current-cat a:after,
.elementor-widget-wp-widget-woocommerce_layered_nav ul li.chosen a:after,
.elementor-widget-wp-widget-woocommerce_layered_nav_filters ul li.chosen a:after,
.widget_layered_nav ul li.chosen a:after, .widget_layered_nav_filters ul li.chosen a:after,
.elementor-widget-wp-widget-woocommerce_product_categories .product-categories li.current-cat a:after,
.widget_product_categories .product-categories li.current-cat a:after {
	background-color: $primary_text_color;
}

.elementor-widget-wp-widget-woocommerce_shopping_cart a:not(.button):hover,
.elementor-widget-wp-widget-woocommerce_widget_cart a:not(.button):hover,
.widget_shopping_cart a:not(.button):hover,
.elementor-widget-wp-widget-woocommerce_recently_viewed_products a:hover,
.widget_recently_viewed_products a:hover,
.elementor-widget-wp-widget-woocommerce_products a:hover,
.widget_products a:hover,
.elementor-widget-wp-widget-woocommerce_top_rated_products a:hover,
.widget_top_rated_products a:hover,
.elementor-widget-wp-widget-woocommerce_recent_reviews a:hover,
.widget_recent_reviews a:hover{
	color: $link_color;
}

.elementor-widget-wp-widget-woocommerce_rating_filter li.chosen:before,
.widget_rating_filter li.chosen:before {
	background-color: $accent_color;
	border-color: $accent_color;
}

.elementor-widget-wp-widget-woocommerce_rating_filter li:after,
.widget_rating_filter li:after{
	color: $invert_text_color;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
	color: $primary_text_color;
}

.elementor-widget-wp-widget-woocommerce_widget_cart .woocommerce-mini-cart__total > strong,
.elementor-widget-wp-widget-woocommerce_shopping_cart .woocommerce-mini-cart__total > strong,
.widget_shopping_cart .woocommerce-mini-cart__total > strong,
.elementor-widget-wp-widget-woocommerce_widget_cart .quantity .amount,
.elementor-widget-wp-widget-woocommerce_shopping_cart .quantity .amount,
.widget_shopping_cart .quantity .amount{
	font-weight: $h6_font_weight;
}

.elementor-widget-wp-widget-woocommerce_widget_cart .woocommerce-mini-cart__total .amount,
.elementor-widget-wp-widget-woocommerce_shopping_cart .woocommerce-mini-cart__total .amount,
.widget_shopping_cart .woocommerce-mini-cart__total .amount{
	font-weight: $h4_font_weight;
}

.elementor-widget-wp-widget-woocommerce_widget_cart .woocommerce-mini-cart__buttons .wc-forward:not(.checkout),
.elementor-widget-wp-widget-woocommerce_shopping_cart .woocommerce-mini-cart__buttons .wc-forward:not(.checkout),
.widget_shopping_cart .woocommerce-mini-cart__buttons .wc-forward:not(.checkout) {
	color: $invert_text_color;
	background-color: $btn_bg_color;
	border-color: $btn_bg_color;
}
.elementor-widget-wp-widget-woocommerce_widget_cart .woocommerce-mini-cart__buttons .wc-forward:not(.checkout):hover,
.elementor-widget-wp-widget-woocommerce_shopping_cart .woocommerce-mini-cart__buttons .wc-forward:not(.checkout):hover,
.widget_shopping_cart .woocommerce-mini-cart__buttons .wc-forward:not(.checkout):hover {
	color: $primary_text_color;
	background-color: transparent;
	border-color: $btn_bg_color;
}
.elementor-widget-wp-widget-woocommerce_widget_cart .woocommerce-mini-cart__buttons .checkout,
.elementor-widget-wp-widget-woocommerce_shopping_cart .woocommerce-mini-cart__buttons .checkout,
.widget_shopping_cart .woocommerce-mini-cart__buttons .checkout {
	color: $primary_text_color;
}
.elementor-widget-wp-widget-woocommerce_widget_cart .woocommerce-mini-cart__buttons .wc-forward.checkout:hover,
.elementor-widget-wp-widget-woocommerce_shopping_cart .woocommerce-mini-cart__buttons .wc-forward.checkout:hover,
.widget_shopping_cart .woocommerce-mini-cart__buttons .wc-forward.checkout:hover {
	color: $secondary_text_color;
}

.header-cart__link path{
	fill: $primary_text_color;
}
.header-cart .woocommerce.widget_shopping_cart {
	background-color: $grey_color_1;
}
.header-cart .widgettitle,
.elementor-widget-wp-widget-woocommerce_widget_cart .woocommerce-mini-cart__total,
.elementor-widget-wp-widget-woocommerce_shopping_cart .woocommerce-mini-cart__total,
.widget_shopping_cart .woocommerce-mini-cart__total {
	font-style: $h5_font_style;
	font-weight: $h5_font_weight;
	font-size: $h5_font_size{px};
	line-height: $h5_line_height;
	font-family: @font_family( $h5_font_family );
	letter-spacing: $h5_letter_spacing{em};
	text-align: $h5_text_align;
	color: $h5_color;
}

.widget_shopping_cart .woocommerce-mini-cart__total,
.woocommerce-mini-cart__buttons{
	font-family: @font_family( $h5_font_family );
}

.elementor-widget-wp-widget-woocommerce_rating_filter .woocommerce-mini-cart__total > strong,
.elementor-widget-wp-widget-woocommerce_rating_filter .quantity .amount,
.widget_shopping_cart .quantity .amount,
.header-cart .amount {
	color: $primary_text_color;
}

/* Widget Search */
.elementor-widget-wp-widget-woocommerce_product_search button:before,
.widget_product_search button:before,
.elementor-widget-wp-widget-woocommerce_product_search button:before {
	background-color: $secondary_text_color;
}
.elementor-widget-wp-widget-woocommerce_product_search button:hover:before,
.widget_product_search button:hover:before,
.elementor-widget-wp-widget-woocommerce_product_search button:hover:before {
	background-color: $primary_text_color;
}

/*     Store Notice       */
.woocommerce-store-notice{
	background-color: $accent_color;
	color: $invert_text_color;
}

.woocommerce-store-notice__dismiss-link:hover,
.woocommerce-store-notice__dismiss-link{
	color: $invert_text_color;
}














































/* Categories List */
.woocommerce-loop-category__title:hover {
	color: $link_hover_color;
}
ul.products .product-category .entry-meta:hover {
	color: $link_color;
}
ul.products li.product-category .category-content .entry-meta {
	color: #947ECB;
	background: #E0F3FD;
}
ul.products li.product-category .category-content .woocommerce-loop-category__title {
	color: #1E306E;
	background: #E0F3FD;
}
ul.products li.product-category .category-content .woocommerce-loop-category__description {
	color: #1E306E;
	background: #E0F3FD;
}
ul.products li.product-category .category-content:hover .entry-meta {
	color: #FFF;
	background: #1E306E;
}
ul.products li.product-category .category-content:hover .woocommerce-loop-category__title {
	color: #FFF;
	background: #1E306E;
}
ul.products li.product-category .category-content:hover .woocommerce-loop-category__description {
	color: #FFF;
	background: #1E306E;
}

.woocommerce-products__panel {
	border-bottom: 1px solid #DDE0E9;
}
.woocommerce-products__panel .woocommerce-result-count {
	color: #8a93b3;
}
.woocommerce-products__panel .woocommerce-ordering select.orderby {
	color: #8a93b3;
	background-color: #F6F7F9;
}

.onsale {
	color: #FFFFFF;
	background: #FF7461;
}

.woocommerce-cart .page-title {
	color: #1E306E;
}
.woocommerce-cart table.cart tbody tr:first-child td, .woocommerce-cart table.cart tbody tr:first-child th {
	border-top: 1px solid #DDE0E9;
}
.woocommerce-cart table.cart tr td, .woocommerce-cart table.cart tr th {
	border-bottom: 1px solid #DDE0E9;
}
.woocommerce-cart table.cart tr td.product-price {
	color: #1E306E;
}
.woocommerce-cart table.cart tr td.actions .coupon input {
	background: #F6F7F9;
	color: #1E306E;
}
.woocommerce-cart table.cart tr td.actions .coupon .button {
	color: #1E306E;
	background: #E0F3FD;
}
.woocommerce-cart table.cart tr td.actions .coupon .button:hover {
	background: #8067BD;
	color: #FFF;
}
.woocommerce-cart table.cart tr td.actions > .button {
	color: #1E306E;
	background: #FFFFFF;
	border: 1px solid #DDE0E9;
}
.woocommerce-cart table.cart tr td.actions > .button:hover {
	background: #8067BD;
	color: #FFF;
	border: 1px solid #8067BD;
}
.woocommerce-cart table.cart tr td.product-quantity input {
	background-color: #F6F7F9;
	color: #1E306E;
}
.woocommerce-cart table.cart tr td.product-name a {
	color: #1E306E;
}
.woocommerce-cart table.cart tr td.product-subtotal {
	color: #1E306E;
}
.woocommerce-cart .cart-collaterals {
	background: #F6F7F9;
}
.woocommerce-cart .cart-collaterals h2 {
	color: #1E306E;
}
.woocommerce-cart .cart-collaterals table tr.cart-subtotal th, .woocommerce-cart .cart-collaterals table tr.cart-subtotal td {
	color: #1E306E;
}
.woocommerce-cart .cart-collaterals table tr.cart-subtotal .amount {
	color: #1E306E;
}
.woocommerce-cart .cart-collaterals table tr.order-total th, .woocommerce-cart .cart-collaterals table tr.order-total td {
	color: #1E306E;
}



.woocommerce-checkout .page-header .page-title {
	color: #1E306E;
}
.woocommerce-checkout .woocommerce-checkout-review-order table {
	background: #F6F7F9;
	border: 1px solid #DDE0E9;
}
.woocommerce-checkout .woocommerce-checkout-review-order table thead {
	background: #F6F7F9;
}
.woocommerce-checkout .woocommerce-checkout-review-order table thead th {
	color: #1E306E !important;
}
.woocommerce-checkout .woocommerce-checkout-review-order table td {
	color: #1E306E;
}
.woocommerce-checkout .woocommerce-checkout-review-order table td.product-total span, .woocommerce-checkout .woocommerce-checkout-review-order table td.product-total * {
	color: #1E306E !important;
}
.woocommerce-checkout .woocommerce-checkout-review-order table tfoot {
	background: #F6F7F9;
}
.woocommerce-checkout .woocommerce-checkout-review-order table tfoot th, .woocommerce-checkout .woocommerce-checkout-review-order table tfoot td {
	color: #1E306E;
}
.woocommerce-checkout .woocommerce-form-coupon-toggle .woocommerce-info {
	color: #1E306E;
}
.woocommerce-checkout .woocommerce-form-coupon-toggle .woocommerce-info a {
	color: #1E306E;
}
.woocommerce-checkout .checkout_coupon.woocommerce-form-coupon > p {
	color: #1E306E;
}
.woocommerce-checkout .checkout_coupon.woocommerce-form-coupon #coupon_code {
	background: #F6F7F9;
	color: #8a93b3;
}
.woocommerce-checkout .checkout_coupon.woocommerce-form-coupon .button {
	background: #BCE0F7;
	color: #1E306E;
}
.woocommerce-checkout .checkout_coupon.woocommerce-form-coupon .button:hover {
	color: #FFF;
	background: #1E306E;
}
.woocommerce-checkout h3 {
	color: #1E306E !important;
}
.woocommerce-checkout .wc_payment_methods li {
	color: #1E306E;
}
.woocommerce-checkout #place_order {
	background: #8067BD;
	color: #FFFFFF;
}
.woocommerce-checkout #place_order:hover {
	background: #1E306E;
	color: #FFF;
}
.woocommerce-checkout .woocommerce-privacy-policy-text p {
	color: #1E306E;
}
.woocommerce-checkout .woocommerce-input-wrapper input {
	background: #F6F7F9;
	color: #8a93b3;
}
.woocommerce-checkout .woocommerce-input-wrapper textarea {
	background: #F6F7F9;
	color: #8a93b3;
}
.woocommerce-checkout .woocommerce-input-wrapper .select2 {
	background: #F6F7F9;
	color: #8a93b3;
}
.woocommerce-checkout .woocommerce-validated input {
	box-shadow: inset 0px 0px 0px 1px #FF6767;
}
.woocommerce-checkout .woocommerce-error {
	border: 1px solid #DDE0E9;
}
.woocommerce-checkout .woocommerce-error li {
	color: #1E306E;
}
.woocommerce-checkout label {
	color: #1E306E;
}
.woocommerce-checkout .woocommerce-checkout-review-order table thead tr th, .woocommerce-checkout .woocommerce-checkout-review-order table thead tr td {
	color: #888888;
}


.products.products-grid .product-content .woocommerce-loop-product__title {
	color: #1E306E;
}
.products.products-grid .product-content .price ins {
	color: #ff7461;
}
.products.products-grid .product-content .price ins span {
	color: #ff7461;
}

.related.products {
	background: #F6F7F9;
}
.related.products:before {
	background: #F6F7F9;
}
.related.products:after {
	background: #F6F7F9;
}
.related.products h2 {
	color: #1E306E;
}


.woocommerce table.variations .label {
	color: #1E306E;
}
.woocommerce table.variations select {
	background-color: #F6F7F9;
	color: #8a93b3;
}

.single-product .quantity input {
	color: #1E306E;
	background: #F6F7F9;
}
.single-product .single_add_to_cart_button:hover {
	background-color: #8067BD !important;
	color: #FFF !important;
}

table.woocommerce-grouped-product-list .woocommerce-grouped-product-list-item__price del {
	color: #888;
}



.woocommerce-Reviews .woocommerce-noreviews {
	color: #1E306E;
}

#review_form .comment-form label {
	color: #1E306E;
}
#review_form .comment-form .comment-form-author input {
	background: #F6F7F9;
	color: #8a93b3;
}
#review_form .comment-form .comment-form-email input {
	background: #F6F7F9;
	color: #8a93b3;
}



.single-product .product_title {
	color: #1E306E;
}
.single-product .woocommerce-product-rating .woocommerce-review-link {
	color: #298CD3;
}
.single-product .price ins,
.single-product .jet-woo-builder.elementor-jet-single-price .price ins {
	color: #FF7461 !important;
}
.single-product .price del,
.single-product .jet-woo-builder.elementor-jet-single-price .price del {
	color: #1E306E;
}
.single-product .woocommerce-product-details__short-description {
	color: #1E306E;
}
.single-product .product_meta > span {
	color: #1E306E;
}
.single-product .product_meta > span > span, .single-product .product_meta > span > a {
	color: #298CD3;
}
.single-product .product_sharing a path {
	fill: #bfbfbf;
}




.woocommerce-tabs .panel h2 {
	color: #1E306E;
}
.woocommerce-tabs .panel.woocommerce-Tabs-panel--reviews .comment-form-rating .stars a:before {
	background-color: #F8BD4B;
}
.woocommerce-tabs .panel.woocommerce-Tabs-panel--reviews .comment-form-comment textarea {
	background: #FFFFFF;
	border: 2px solid #BCE0F7;
	color: #1E306E;
}
.woocommerce-tabs .panel.woocommerce-Tabs-panel--reviews .woocommerce-noreviews {
	color: #1E306E;
}
.woocommerce-tabs .panel.woocommerce-Tabs-panel--additional_information .shop_attributes tr th {
	background: #FAFAFB;
	color: #1E306E;
}
.woocommerce-tabs .panel.woocommerce-Tabs-panel--additional_information .shop_attributes tr td {
	background: #FAFAFB;
	color: #1E306E;
}
.woocommerce-tabs .panel.woocommerce-Tabs-panel--additional_information .shop_attributes tr:hover th {
	background: #EEEFF4;
}
.woocommerce-tabs .panel.woocommerce-Tabs-panel--additional_information .shop_attributes tr:hover td {
	background: #EEEFF4;
}
.woocommerce-tabs .wc-tabs {
	border-bottom: 1px solid #DDE0E9;
}
.woocommerce-tabs .wc-tabs li a {
	color: #1E306E;
}
.woocommerce-tabs .wc-tabs li a:after {
	background-color: #298CD3;
}
.woocommerce-tabs .wc-tabs li.active a {
	color: #298CD3;
}


.elementor-widget-wp-widget-woocommerce_layered_nav ul li > a,
.elementor-widget-wp-widget-woocommerce_layered_nav_filters ul li > a,
.widget_layered_nav ul li > a,
.widget_layered_nav_filters ul li > a,
.woocommerce.widget_product_categories ul li > a {
	color: #298cd3;
}
.elementor-widget-wp-widget-woocommerce_layered_nav ul li > a:before,
.elementor-widget-wp-widget-woocommerce_layered_nav_filters ul li > a:before,
.widget_layered_nav ul li > a:before,
.widget_layered_nav_filters ul li > a:before,
.woocommerce.widget_product_categories ul li > a:before {
	background-color: #F6F7F9;
}
.elementor-widget-wp-widget-woocommerce_layered_nav ul li > a:hover,
.elementor-widget-wp-widget-woocommerce_layered_nav_filters ul li > a:hover,
.widget_layered_nav ul li > a:hover,
.widget_layered_nav_filters ul li > a:hover,
.woocommerce.widget_product_categories ul li > a:hover {
	color: #8067BD !important;
}
.elementor-widget-wp-widget-woocommerce_layered_nav ul li > span,
.elementor-widget-wp-widget-woocommerce_layered_nav_filters ul li > span,
.widget_layered_nav ul li > span,
.widget_layered_nav_filters ul li > span,
.woocommerce.widget_product_categories ul li > span {
	color: #89CCF7;
}
.elementor-widget-wp-widget-woocommerce_layered_nav ul li.chosen a, .elementor-widget-wp-widget-woocommerce_layered_nav ul li.current-cat a,
.elementor-widget-wp-widget-woocommerce_layered_nav_filters ul li.chosen a,
.elementor-widget-wp-widget-woocommerce_layered_nav_filters ul li.current-cat a,
.widget_layered_nav ul li.chosen a,
.widget_layered_nav ul li.current-cat a,
.widget_layered_nav_filters ul li.chosen a,
.widget_layered_nav_filters ul li.current-cat a,
.woocommerce.widget_product_categories ul li.chosen a,
.woocommerce.widget_product_categories ul li.current-cat a {
	color: #8067BD;
}



.elementor-widget-wp-widget-woocommerce_price_filter .price_slider_wrapper .price_label,
.widget_price_filter .price_slider_wrapper .price_label {
	color: #1E306E;
}
.elementor-widget-wp-widget-woocommerce_price_filter .price_slider,
.widget_price_filter .price_slider {
	background-color: #bfbfbf;
}
.elementor-widget-wp-widget-woocommerce_price_filter .ui-slider-handle,
.widget_price_filter .ui-slider-handle {
	border: 2px solid #1E306E;
	background-color: #fff;
}



.elementor-widget-wp-widget-woocommerce_product_tag_cloud .tagcloud a,
.widget_product_tag_cloud .tagcloud a {
	color: #298CD3;
	background: #E0F3FD;
}
.elementor-widget-wp-widget-woocommerce_product_tag_cloud .tagcloud a:hover,
.widget_product_tag_cloud .tagcloud a:hover {
	background: #298CD3;
	color: #FFF;
}