.default-item {

	.post-thumbnail{
		height: 270px;
		position: relative;
		margin-bottom: 36px;
		a {
			position:absolute;
			overflow: hidden;
			left:0px;
			top:0px;
			width:100%;
			height:100%;
			img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	.posts-list__item-content {
		position: relative;
		padding-bottom:20px;
		margin-bottom: 30px;
		&:before {
			content:'';
			display: block;
			position: absolute;
			width: 100%;
			left:0px;
			bottom:0px;
			height:1px;
			background: #DDE0E9;
		}
		&__top {
			padding-bottom:42px;
		}
	}

	@include media-breakpoint-up(md) {
		display: flex;
		justify-content: flex-start;
		.posts-list__item-content {
			order:0;
			flex: 0 0 47.61904761904762%;
			max-width: 47.61904761904762%;
			margin-right: 4.761904761904762%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding-bottom:0px;
			margin-bottom: 0px;
			&:before {
				bottom:-20px;
			}
			&__top {
				flex-grow: 1;
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
		}
		.post-thumbnail{
			order:1;
			flex: 0 0 47.61904761904762%;
			max-width: 47.61904761904762%;
			height: 420px;
			margin-bottom: 0px;
		}
	}



	.entry-meta {
		text-transform: none;
		font-weight: 300;
		font-size: 14px;
		line-height: 17px;
		&__footer {
			display: flex;
			align-items: flex-end;
			min-height: 0px;
			.btn-text-icon {
				margin-bottom: 0px;
			}
		}
		&__left_side {
			flex-grow: 1;
			min-width: 0px;
		}
		&__right_side {
			white-space: nowrap;
			margin-left:20px;
			.comments-link {
				svg {
					position:relative;
					top:-2px;
				}
			}
		}
		.byline {
			display:inline-block;
			margin-right: 5px;
			a {
				text-transform: uppercase;
				font-weight: 500;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		.posted-on {
			display:inline-block;
		}
	}
}

.grid-item {
	display: flex;
	flex-direction: column;
	&:last-child {
		margin-bottom: 40px;
	}


	.post-thumbnail{
		height: 270px;
		position: relative;
		margin-bottom: 0px;
		a {
			position:absolute;
			overflow: hidden;
			left:0px;
			top:0px;
			width:100%;
			height:100%;
			img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	.posts-list__item-top {
		flex-grow: 1;
		min-height: 0px;
		min-width: 0px;
	}
	.posts-list__item-content {
		padding:40px;
		position: relative;
		background: #FFFFFF;
		border: 1px solid #DDE0E9;
		flex-grow: 1;
		position: relative;
		display: flex;
		flex-direction: column;
		&__top {
			padding-bottom:42px;
		}
	}

	.entry-meta {
		margin-top:20px;
	}
	.entry-footer {
		&:before, &:after {
			display: none;
		}
		font-weight: 300;
		font-size: 14px;
		line-height: 17px;
		color: #1E306E;
		margin-top:38px;
		padding-top:28px;
		border-top:1px solid #DDE0E9;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}


/*--------------------------------------------------------------
### Posts List Formats
--------------------------------------------------------------*/

.default-item.format-post {
	.entry-footer .entry-meta {
		.tags-links+div:not(:empty) {
			margin-top: 28px;
		}
		>div {
			@include space-between-content;
		}
	}
}