/* Button */
/*--------------------------------------------------------------
# Animation
--------------------------------------------------------------*/
@-webkit-keyframes onclinic_spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes onclinic_spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/*--------------------------------------------------------------
## Blog layouts
--------------------------------------------------------------*/
/*-------------------
### Default Styles
---------------------*/
.default-item .post-thumbnail {
  margin-bottom: 40px; }

@media (min-width: 940px) {
  .default-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    .default-item:nth-child(2n) {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
      .default-item:nth-child(2n) .posts-list__item-content {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1; }
      .default-item:nth-child(2n) .post-thumbnail + .posts-list__item-content {
        margin-right: 60px; }
    .default-item .post-thumbnail {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 39.131%;
      flex: 0 0 39.131%;
      max-width: 39.131%;
      margin-bottom: 0; }
      .sidebar_enabled .default-item .post-thumbnail {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.177%;
        flex: 0 0 41.177%;
        max-width: 41.177%; }
    .default-item .posts-list__item-content {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 39.131%;
      flex: 0 0 39.131%;
      max-width: 39.131%; }
      .sidebar_enabled .default-item .posts-list__item-content {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 52.942%;
        flex: 0 0 52.942%;
        max-width: 52.942%; }
    .default-item .post-thumbnail + .posts-list__item-content {
      margin-left: 60px; } }

.default-item .entry-header {
  margin-top: -3px; }
  .default-item .entry-header .entry-meta {
    margin-top: 0; }

.default-item .entry-meta .comments-link {
  margin-top: 20px; }

/*--------------------------------------------------------------
### Posts List Formats
--------------------------------------------------------------*/
.default-item.format-post .entry-footer .entry-meta .tags-links + div:not(:empty) {
  margin-top: 28px; }

.default-item.format-post .entry-footer .entry-meta > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-left: -1.875rem;
  margin-right: -1.875rem; }
  .default-item.format-post .entry-footer .entry-meta > div > * {
    margin-left: 1.875rem;
    margin-right: 1.875rem; }

/*--------------------------------------------------------------
### Grid Posts List
--------------------------------------------------------------*/
.posts-list.posts-list--grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -1.875rem;
  margin-right: -1.875rem;
  margin-bottom: 0; }
  .posts-list.posts-list--grid.posts-list-3-cols .grid-item {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    max-width: calc(100%);
    width: calc(100%);
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100%);
    flex: 0 0 calc(100%); }
    @media (min-width: 640px) {
      .posts-list.posts-list--grid.posts-list-3-cols .grid-item {
        max-width: calc(100% / 2);
        width: calc(100% / 2);
        -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% / 2);
        flex: 0 0 calc(100% / 2); } }
    @media (min-width: 940px) {
      .posts-list.posts-list--grid.posts-list-3-cols .grid-item {
        max-width: calc(100% / 3);
        width: calc(100% / 3);
        -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% / 3);
        flex: 0 0 calc(100% / 3); } }
  .posts-list.posts-list--grid.posts-list-2-cols .grid-item {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    max-width: calc(100%);
    width: calc(100%);
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100%);
    flex: 0 0 calc(100%); }
    @media (min-width: 640px) {
      .posts-list.posts-list--grid.posts-list-2-cols .grid-item {
        max-width: calc(100% / 2);
        width: calc(100% / 2);
        -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% / 2);
        flex: 0 0 calc(100% / 2); } }
  .posts-list.posts-list--grid .entry-header .entry-meta {
    margin-top: 38px; }
  .posts-list.posts-list--grid .entry-title {
    margin-top: 17px;
    font-size: 36px; }
  .posts-list.posts-list--grid .entry-content {
    margin-top: 19px; }
  .posts-list.posts-list--grid .entry-meta .comments-link {
    margin-top: 20px; }

.blog-grid:not(.sidebar_enabled) .posts-list-2-cols .entry-title {
  font-size: 48px; }
