/* Button */
/*--------------------------------------------------------------
# Animation
--------------------------------------------------------------*/
@-webkit-keyframes onclinic_spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes onclinic_spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/*--------------------------------------------------------------
## Blog layouts
--------------------------------------------------------------*/
.default-item .post-thumbnail {
  height: 270px;
  position: relative;
  margin-bottom: 36px; }
  .default-item .post-thumbnail a {
    position: absolute;
    overflow: hidden;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%; }
    .default-item .post-thumbnail a img {
      display: block;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }

.default-item .posts-list__item-content {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 30px; }
  .default-item .posts-list__item-content:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0px;
    height: 1px;
    background: #DDE0E9; }
  .default-item .posts-list__item-content__top {
    padding-bottom: 42px; }

@media (min-width: 940px) {
  .default-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    .default-item .posts-list__item-content {
      -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
      order: 0;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 47.61904761904762%;
      flex: 0 0 47.61904761904762%;
      max-width: 47.61904761904762%;
      margin-right: 4.761904761904762%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding-bottom: 0px;
      margin-bottom: 0px; }
      .default-item .posts-list__item-content:before {
        bottom: -20px; }
      .default-item .posts-list__item-content__top {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
    .default-item .post-thumbnail {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 47.61904761904762%;
      flex: 0 0 47.61904761904762%;
      max-width: 47.61904761904762%;
      height: 420px;
      margin-bottom: 0px; } }

.default-item .entry-meta {
  text-transform: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px; }
  .default-item .entry-meta__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    min-height: 0px; }
    .default-item .entry-meta__footer .btn-text-icon {
      margin-bottom: 0px; }
  .default-item .entry-meta__left_side {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    min-width: 0px; }
  .default-item .entry-meta__right_side {
    white-space: nowrap;
    margin-left: 20px; }
    .default-item .entry-meta__right_side .comments-link svg {
      position: relative;
      top: -2px; }
  .default-item .entry-meta .byline {
    display: inline-block;
    margin-right: 5px; }
    .default-item .entry-meta .byline a {
      text-transform: uppercase;
      font-weight: 500; }
      .default-item .entry-meta .byline a:hover {
        text-decoration: underline; }
  .default-item .entry-meta .posted-on {
    display: inline-block; }

.grid-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .grid-item:last-child {
    margin-bottom: 40px; }
  .grid-item .post-thumbnail {
    height: 270px;
    position: relative;
    margin-bottom: 0px; }
    .grid-item .post-thumbnail a {
      position: absolute;
      overflow: hidden;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%; }
      .grid-item .post-thumbnail a img {
        display: block;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover; }
  .grid-item .posts-list__item-top {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    min-height: 0px;
    min-width: 0px; }
  .grid-item .posts-list__item-content {
    padding: 40px;
    position: relative;
    background: #FFFFFF;
    border: 1px solid #DDE0E9;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .grid-item .posts-list__item-content__top {
      padding-bottom: 42px; }
  .grid-item .entry-meta {
    margin-top: 20px; }
  .grid-item .entry-footer {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #1E306E;
    margin-top: 38px;
    padding-top: 28px;
    border-top: 1px solid #DDE0E9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .grid-item .entry-footer:before, .grid-item .entry-footer:after {
      display: none; }

/*--------------------------------------------------------------
### Posts List Formats
--------------------------------------------------------------*/
.default-item.format-post .entry-footer .entry-meta .tags-links + div:not(:empty) {
  margin-top: 28px; }

.default-item.format-post .entry-footer .entry-meta > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-left: -1.875rem;
  margin-right: -1.875rem; }
  .default-item.format-post .entry-footer .entry-meta > div > * {
    margin-left: 1.875rem;
    margin-right: 1.875rem; }

/*--------------------------------------------------------------
### Grid Posts List
--------------------------------------------------------------*/
.posts-list.posts-list--grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -1.875rem;
  margin-right: -1.875rem;
  margin-bottom: 0; }
  .posts-list.posts-list--grid.posts-list-3-cols .grid-item {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    max-width: calc(100%);
    width: calc(100%);
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100%);
    flex: 0 0 calc(100%); }
    @media (min-width: 640px) {
      .posts-list.posts-list--grid.posts-list-3-cols .grid-item {
        max-width: calc(100% / 2);
        width: calc(100% / 2);
        -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% / 2);
        flex: 0 0 calc(100% / 2); } }
    @media (min-width: 940px) {
      .posts-list.posts-list--grid.posts-list-3-cols .grid-item {
        max-width: calc(100% / 3);
        width: calc(100% / 3);
        -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% / 3);
        flex: 0 0 calc(100% / 3); } }
  .posts-list.posts-list--grid.posts-list-2-cols .grid-item {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    max-width: calc(100%);
    width: calc(100%);
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100%);
    flex: 0 0 calc(100%); }
    @media (min-width: 640px) {
      .posts-list.posts-list--grid.posts-list-2-cols .grid-item {
        max-width: calc(100% / 2);
        width: calc(100% / 2);
        -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% / 2);
        flex: 0 0 calc(100% / 2); } }
  .posts-list.posts-list--grid .entry-header .entry-meta {
    margin-top: 38px; }
  .posts-list.posts-list--grid .entry-title {
    margin-top: 17px;
    font-size: 36px; }
  .posts-list.posts-list--grid .entry-content {
    margin-top: 19px; }
  .posts-list.posts-list--grid .entry-meta .comments-link {
    margin-top: 20px; }

.blog-grid:not(.sidebar_enabled) .posts-list-2-cols .entry-title {
  font-size: 48px; }
