/**
 * Category main styles
 */
ul.products{
	li.product-category {
		margin-bottom: 123px;
		@include media-breakpoint-up(xl) {
			flex: 0 0 33.33334% !important;
			max-width: 33.33334% !important;
		}
		.category-content{
			text-align: center;
			img {
				display: block;
			}
			.entry-meta {
				transition: color 0.2s ease-out;
				padding:0px 15px 36px 15px;
				font-weight: 600;
				font-size: 14px;
				line-height: 17px;
				letter-spacing: 0.5px;
				text-transform: uppercase;
				transition: 0.2s;
			}
			.woocommerce-loop-category {
				&__title{
					padding:41px 15px 14px 15px;
					font-weight: 600;
					font-size: 24px;
					line-height: 30px;
					transition: color 0.2s ease-out;
					margin:0px;
					transition: 0.2s;
				}
				&__description {
					font-weight: 300;
					font-size: 18px;
					line-height: 22px;
					color: #1E306E;
					padding:0px 15px 21px 15px;
					transition: 0.2s;
					&:empty {
						display: none;
					}
				}
			}
		}
		&.category-last {
			font-size: 0;
			width: 100%;
			margin: 0;
			flex: 0 0 100% !important;
			max-width: 100% !important;
		}
	}
}
