a {
	text-decoration: none;
	transition: all 0.3s ease;
	&:focus {
		outline: none;
	}
	&:hover,
	&:active {
		text-decoration: none;
	}
	h1 &, h2 &, h3 &, h4 &, h5 &, h6 & {
		color: inherit;
	}

	.site-main p & {

		&[href*="callto:"],
		&[href*="tel:"],
		&[href*="mailto:"] {
			font-weight: inherit;
		}
	}

	.entry-content p & {
		text-decoration: underline;
	}

	.site-main p & em,
	.site-main p em & {
		text-decoration: underline;
	}

}

.edit-link {
	display: block;

	a {
		display: inline-block;
		font-weight: 500;
    	font-size: 18px;
		background-color: transparent!important;

		&:before {
			content: url("data:image/svg+xml; utf8, %3Csvg%20width%3D%229%22%20height%3D%2212%22%20viewBox%3D%220%200%209%2012%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M0.78125%206.90625V5.54688L7.45312%200.578125L8.25%201.6875L2.23438%206.23438L8.25%2010.7812L7.45312%2011.8906L0.78125%206.90625Z%22%20fill%3D%22%23298CD3%22%2F%3E%0A%3C%2Fsvg%3E%0A");
			display: inline-block;
			vertical-align: middle;
			width: 9px;
			height: 12px;
			background-color: transparent!important;
			line-height: 0px;
			margin-right: 5px;
			position:relative;
			top:-2px;
		}
	}
}