.main-navigation {
	&__default {

		.menu {
			display: flex!important;
			a {
				display: inline-block;
				text-decoration: none;
			}
			& > li {
				padding: 0;
				& > a {
					padding: 22px 20px 21px;
					&:hover {
						background: #BCE0F7;
						color:#1E306E;
					}
				}
				&.menu-item-has-children {
					& > a {
						padding-right: 51px;
						&:after {
							content: url("data:image/svg+xml; utf8, %3Csvg%20width%3D%2211%22%20height%3D%227%22%20viewBox%3D%220%200%2011%207%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M0%201.4247L0.848528%200.576172L5.42426%205.15191L10%200.576172L10.8485%201.4247L5.42426%206.84896L0%201.4247Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fsvg%3E%0A");
							position: absolute;
							right: 20px;
							top:50%;
							transform: translateY(-50%);
							width: 11px;
							height: 7px;
							line-height: 0px;
						}
						&:hover {
							&:after {
								content: url("data:image/svg+xml; utf8, %3Csvg%20width%3D%2212%22%20height%3D%227%22%20viewBox%3D%220%200%2012%207%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M0.576172%201.4247L1.4247%200.576172L6.00044%205.15191L10.5762%200.576172L11.4247%201.4247L6.00044%206.84896L0.576172%201.4247Z%22%20fill%3D%22%231E306E%22%2F%3E%0A%3C%2Fsvg%3E%0A");
							}
						}
					}
				}
			}
			ul {
				list-style: none;
				margin: 0;
				padding-left: 0;

				ul {
					position: absolute;
					z-index: 99999;
					top: 100%;
					left: -999em;
					background:#cecece;
					&:after {
						content: '';
						position: absolute;
						left: 0;
						top: -29px;
						width: 100%;
						height: 29px;
					}

					ul {
						left: -999em;
						top: 0px;
						&:after {
							top: 0;
							bottom: 0;
							left: -41px;
							width: 42px;
							height: 100%;
						}
					}

					li {
						&:hover>ul,
						&.focus>ul {
							left: 100%;
						}
					}
					a {
						width: 220px;
						padding: 8px 20px;
						font-size: 16px;
						color:#1E306E;
						&:hover {
							background: #EFF9FE;
							color:#298CD3!important;
						}
					}
				}

				li:hover>ul,
				li.focus>ul {
					left: 0px;
				}
			}

			li {
				position: relative;
				display: inline-block;
			}
		}
	}
}


