.main-navigation {
	&__default {
		.menu {
            list-style: none;
            margin: 0;
            padding: 0;
			display: flex!important;
			a {
				display: inline-block;
				text-decoration: none;
			}
			& > li {
				padding: 0;
				& > a {
					padding: 22px 20px 21px;
                    @media (max-width: 1200px) and (min-width: 1025px) {
                        padding: 22px 10px 21px;
                    }
				}
				&.menu-item-has-children {
					& > a {
						padding-right: 36px;
                        @media (max-width: 1200px) and (min-width: 1025px) {
                            padding-right: 26px;
                        }
						&:after {
							position: absolute;
							right: 20px;
							top:50%;
							transform: translateY(-50%);
                            margin-top:1px;
							width: 11px;
							height: 7px;
							line-height: 0px;
                            @media (max-width: 1200px) and (min-width: 1025px) {
                                right: 10px;
                            }
						}
					}
				}
			}
            ul {
                position: absolute;
                z-index: 99999;
                top: 100%;
                left: -999em;
                margin: 0;
                padding: 0;
                ul {
                    left: -999em;
                    top: 0px;
                    margin: 0;
                    padding: 0;
                }
                li {
                    &:hover>ul,
                    &.focus>ul {
                        left: 100%;
                    }
                    &.menu-item-has-children {
                        & > a {
                            position: relative;
                            padding-right:30px;
                            &:after {
                                position:absolute;
                                right:20px;
                                top:50%;
                                line-height: 0px;
                                transform: translateY(-50%);
                                width:7px;
                                height:11px;
                            }
                        }
                    }
                }
                a {
                    width: 220px;
                    padding: 8px 20px;
                    font-size: 16px;
                }
            }

            li:hover>ul,
            li.focus>ul {
                left: 0px;
            }
			li {
				position: relative;
				display: inline-block;
			}
		}
	}
}

.stack-menu {
    background-color: #fff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    &--active {
        display: block;
    }
    &__list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: none;
        &--active {
            display: block;
        }
    }
    &__item--hidden {
        display: none;
    }
    &__link {
        padding-right: 20px;
        display: block;
        text-decoration: none;
        position: relative;
        color: #000;
        -webkit-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out, background-image 0.25s ease-in-out;
        -moz-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out, background-image 0.25s ease-in-out;
        transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out, background-image 0.25s ease-in-out;
        font-weight: 500;
        font-size: 20px;
        line-height: 41px;
        color: #1E306E;
        &--parent {
            &:after {
                content:url("data:image/svg+xml; utf8,%3Csvg%20width%3D%226%22%20height%3D%2211%22%20viewBox%3D%220%200%206%2011%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M0.811628%2011L3.82627e-07%2010.1396L4.37675%205.5L0%200.860376L0.811627%200L6%205.5L0.811628%2011Z%22%20fill%3D%22%231E306E%22%2F%3E%0A%3C%2Fsvg%3E%0A");
                position:absolute;
                right:0px;
                top:50%;
                transform: translateY(-50%);
                line-height:0px;
                width:6px;
                height:11px;
                margin-top:-1px;
            }
        }
        &--back {
            padding-left:13px;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #1E306E;
            text-transform: uppercase;
            margin-bottom: 13px;
            &:after {
                content:url("data:image/svg+xml; utf8,%3Csvg%20width%3D%226%22%20height%3D%2211%22%20viewBox%3D%220%200%206%2011%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M5.18837%2011L6%2010.1396L1.62325%205.5L6%200.860376L5.18837%200L0%205.5L5.18837%2011Z%22%20fill%3D%22%231E306E%22%2F%3E%0A%3C%2Fsvg%3E%0A");
                position:absolute;
                left:0px;
                top:50%;
                transform: translateY(-50%);
                line-height:0px;
                margin-top:-2px;
                width:6px;
                height:11px;
            }
        }
        &--hidden {
            display: none;
        }
    }
}

.reheader__color_scheme_1 {
    .main-navigation {
        &__default {
            .menu {
                & > li {
                    &.menu-item-has-children {
                        & > a {
                            &:after {
                                content: url("data:image/svg+xml; utf8, %3Csvg%20width%3D%2211%22%20height%3D%227%22%20viewBox%3D%220%200%2011%207%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M0%201.4247L0.848528%200.576172L5.42426%205.15191L10%200.576172L10.8485%201.4247L5.42426%206.84896L0%201.4247Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fsvg%3E%0A");
                            }
                        }
                    }
                    &:hover {
                        & > a {
                            background: #BCE0F7;
                            color:#1E306E;
                        }
                        &.menu-item-has-children {
                            & > a {
                                &:after {
                                    content: url("data:image/svg+xml; utf8, %3Csvg%20width%3D%2212%22%20height%3D%227%22%20viewBox%3D%220%200%2012%207%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M0.576172%201.4247L1.4247%200.576172L6.00044%205.15191L10.5762%200.576172L11.4247%201.4247L6.00044%206.84896L0.576172%201.4247Z%22%20fill%3D%22%231E306E%22%2F%3E%0A%3C%2Fsvg%3E%0A");
                                }
                            }
                        }
                    }
                }
                ul {
                    background:#FFF;
                    box-shadow: 0px 34px 40px rgba(30, 48, 110, 0.06);
                    ul {
                        box-shadow: 0px 34px 40px rgba(30, 48, 110, 0.06);
                    }
                    li {
                        &.menu-item-has-children {
                            & > a {
                                &:after {
                                    content: url('data:image/svg+xml; utf8, %3Csvg%20width%3D%227%22%20height%3D%2211%22%20viewBox%3D%220%200%207%2011%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M0.848528%2010.8486L-3.70903e-08%2010.0001L4.57574%205.42437L-4.37114e-07%200.848633L0.848528%200.000104867L6.27279%205.42437L0.848528%2010.8486Z%22%20fill%3D%22%231E306E%22%2F%3E%0A%3C%2Fsvg%3E%0A');
                                }
                            }
                        }
                        &:hover {
                            & > a {
                                background: #EFF9FE;
                                color:#298CD3!important;
                            }
                        }
                    }
                    a {
                        color:#1E306E;
                    }
                }
            }
        }
    }
}

.reheader__color_scheme_2, .reheader__overlay{
    .main-navigation {
        &__default {
            .menu {
                & > li {
                    margin-right: 40px;
                    &:last-child {
                        margin-right: 0px;
                    }
                    @media (max-width: 1200px) and (min-width: 1025px) {
                        margin-right: 20px;
                    }
                    & > a {
                        padding: 22px 0px 21px;
                    }
                    &.menu-item-has-children {
                        & > a {
                            padding-right: 16px;
                            @media (max-width: 1200px) and (min-width: 1025px) {
                                padding-right: 16px;
                            }
                            &:after {
                                right: 0px;
                            }
                        }
                    }
                }
            }
            .menu {
                & > li {
                    a {
                        color:#1E306E;
                    }
                    &.menu-item-has-children {
                        & > a {
                            &:after {
                                content: url("data:image/svg+xml; utf8, %3Csvg%20width%3D%2211%22%20height%3D%227%22%20viewBox%3D%220%200%2011%207%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M0%201.4247L0.848528%200.576172L5.42426%205.15191L10%200.576172L10.8485%201.4247L5.42426%206.84896L0%201.4247Z%22%20fill%3D%22%231E306E%22%2F%3E%0A%3C%2Fsvg%3E%0A");
                            }
                        }
                    }
                    &:hover {
                        & > a {
                            color:#298CD3;
                        }
                        &.menu-item-has-children {
                            & > a {
                                &:after {
                                    content: url("data:image/svg+xml; utf8, %3Csvg%20width%3D%2212%22%20height%3D%227%22%20viewBox%3D%220%200%2012%207%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M0.575684%201.4247L1.42421%200.576172L5.99995%205.15191L10.5757%200.576172L11.4242%201.4247L5.99995%206.84896L0.575684%201.4247Z%22%20fill%3D%22%23298CD3%22%2F%3E%0A%3C%2Fsvg%3E%0A");
                                }
                            }
                        }
                    }
                }
                ul {
                    background:#FFF;
                    box-shadow: 0px 34px 40px rgba(30, 48, 110, 0.06);
                    ul {
                        box-shadow: 0px 34px 40px rgba(30, 48, 110, 0.06);
                    }
                    li {
                        &.menu-item-has-children {
                            & > a {
                                &:after {
                                    content: url('data:image/svg+xml; utf8, %3Csvg%20width%3D%227%22%20height%3D%2211%22%20viewBox%3D%220%200%207%2011%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M0.848528%2010.8486L-3.70903e-08%2010.0001L4.57574%205.42437L-4.37114e-07%200.848633L0.848528%200.000104867L6.27279%205.42437L0.848528%2010.8486Z%22%20fill%3D%22%231E306E%22%2F%3E%0A%3C%2Fsvg%3E%0A');
                                }
                            }
                        }
                        &:hover {
                            & > a {
                                background: #EFF9FE;
                                color:#298CD3!important;
                            }
                        }
                    }
                    a {
                        color:#1E306E;
                    }
                }
            }
        }
    }
}

.reheader__color_scheme_3 {
    .main-navigation {
        &__default {
            .menu {
                & > li {
                    a {
                        color:#1E306E;
                    }
                    &.menu-item-has-children {
                        & > a {
                            &:after {
                                content: url("data:image/svg+xml; utf8, %3Csvg%20width%3D%2211%22%20height%3D%227%22%20viewBox%3D%220%200%2011%207%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M0%201.4247L0.848528%200.576172L5.42426%205.15191L10%200.576172L10.8485%201.4247L5.42426%206.84896L0%201.4247Z%22%20fill%3D%22%231E306E%22%2F%3E%0A%3C%2Fsvg%3E%0A");
                            }
                        }
                    }
                    &:hover {
                        & > a {
                            color:#FFF;
                            background:#1E306E;
                        }
                        &.menu-item-has-children {
                            & > a {
                                &:after {
                                    content: url("data:image/svg+xml; utf8, %3Csvg%20width%3D%2212%22%20height%3D%227%22%20viewBox%3D%220%200%2012%207%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M0.575684%201.4247L1.42421%200.576172L5.99995%205.15191L10.5757%200.576172L11.4242%201.4247L5.99995%206.84896L0.575684%201.4247Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fsvg%3E%0A");
                                }
                            }
                        }
                    }
                }
                ul {
                    background:#FFF;
                    box-shadow: 0px 34px 40px rgba(30, 48, 110, 0.06);
                    ul {
                        box-shadow: 0px 34px 40px rgba(30, 48, 110, 0.06);
                    }
                    li {
                        &.menu-item-has-children {
                            & > a {
                                &:after {
                                    content: url('data:image/svg+xml; utf8, %3Csvg%20width%3D%227%22%20height%3D%2211%22%20viewBox%3D%220%200%207%2011%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M0.848528%2010.8486L-3.70903e-08%2010.0001L4.57574%205.42437L-4.37114e-07%200.848633L0.848528%200.000104867L6.27279%205.42437L0.848528%2010.8486Z%22%20fill%3D%22%231E306E%22%2F%3E%0A%3C%2Fsvg%3E%0A');
                                }
                            }
                        }
                        &:hover {
                            & > a {
                                background: #EFF9FE;
                                color:#298CD3!important;
                            }
                        }
                    }
                    a {
                        color:#1E306E;
                    }
                }
            }
        }
    }
}

.reheader__layout-2 {
    &.reheader__color_scheme_1, &.reheader__color_scheme_3 {
        .main-navigation {
            &__default {
                .menu {
                    & > li {
                        margin-right: 0px;
                        &:last-child {
                            margin-right: 0px;
                        }
                        @media (max-width: 1200px) and (min-width: 1025px) {
                            margin-right: 0px;
                        }
                        & > a {
                            padding: 22px 15px 21px 15px;
                            @media (max-width: 1200px) and (min-width: 1025px) {
                                padding: 22px 10px 21px 10px;
                            }
                        }
                        &.menu-item-has-children {
                            & > a {
                                padding-right: 31px;
                                @media (max-width: 1200px) and (min-width: 1025px) {
                                    padding-right: 26px;
                                }
                                &:after {
                                    right: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}




