.main-navigation {

	&__default {

		ul {
			list-style: none;
			margin: 0;
			padding-left: 0;

			ul {
				position: absolute;
				z-index: 99999;
				top: 100%;
				left: -999em;
				margin-top: 27px;
				padding: 28px 30px 30px;
				background-color: #f8f8f8;

				&:after {
					content: '';
					position: absolute;
					left: 0;
					top: -29px;
					width: 100%;
					height: 29px;
				}

				ul {
					left: -999em;
					top: -28px;
					margin-top: 0;
					margin-left: 40px;

					&:after {
						top: 0;
						bottom: 0;
						left: -41px;
						width: 42px;
						height: 100%;
					}
				}

				li {

					&:hover>ul,
					&.focus>ul {
						left: 100%;
					}
				}

				a {
					width: 220px;
					padding: 8px 0;
					font-size: 16px;
				}
			}

			li:hover>ul,
			li.focus>ul {
				left: -30px;
			}
		}

		li {
			position: relative;
			display: inline-block;

			&:after {
				content: '';
				position: absolute;
				left: 1px;
				bottom: 13px;
				width: 0;
				height: 1px;
				transition: width 0.2s ease-out;
			}
			&:hover:after,
			&.current_page_item:after,
			&.current-menu-item:after,
			&.current_page_ancestor:after,
			&.current-menu-ancestor:after {
				width: 100%;
			}

			li:after {
				bottom: 9px;
			}
		}
		.menu>li {
			padding: 0;
			margin-right: 30px;

			> a{
				padding: 10px 0;
			}

			&:last-child {
				margin-right: 0;
			}

			&.menu-item-has-children > a{
				padding-right: 17px;
			}
		}
		a {
			display: inline-block;
			text-decoration: none;
		}
	}

	// Vertical layout
	&__vertical {
		min-width: 400px;
		overflow: hidden;

		ul {
			list-style: none;
			margin: 0;
			padding-left: 0;
		}

		.menu {
			flex-direction: column;
			flex-wrap: nowrap;

			transition: transform 0.4s ease-in-out;
			will-change: transform;

			display: block !important;

			li {

				&.menu-item-has-children a{
					position: relative;

					&:after {
						right: -35px;
						top: 32px;
						margin-top: 0;
						width: 18px;
						height: 18px;
						background-color: #444;
						transition: background-color 0.2s ease-out;
					}

					&:hover:after {
						background-color: #888;
					}
				}

				a {
					padding-top: 17px;
					padding-bottom: 18px;
					line-height: 1.3;
					font-size: 36px;
					color: #fff;

					&:hover {
						color: #888;
					}
				}

				&.current_page_parent > a {
					margin-bottom: 5px;
					font-weight: 400;
					color: #888;
				}
			}

			// Parent item
			.menu-parent-item {
				padding-left: 50px;

				> a {
					line-height: 28px;
					font-size: 18px;
					color: #888;
				}
			}

			// Back button
			.menu-back-item {
				position: absolute;
				left: 0;
				top: 18px;

				svg {
					width: 27px;
					height: 15px;

					path {
						fill: #888;
					}
				}
			}

			a {
				display: inline-flex;
			}

			// Sub Menu
			.sub-menu {
				display: none;
				width: 400px;

				transform: translateX( 100% );

				a {
					justify-content: center;
				}
			}

			.menu-item.active {
				> .sub-menu {
					display: block;
				}
			}
		}
	}
}

/* Item submenu arrow */

.main-navigation {
	li.menu-item-has-children {
		& > a:after {
			content: '';
			position: absolute;
			right: 0;
			top: 50%;
			margin-top: -8px;
			width: 10px;
			height: 10px;
			background-position: center;
			background-repeat: no-repeat;
			background-color: #bfbfbf;
			-webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" xml:space="preserve"><polygon points="276,236 276,0 236,0 236,236 0,236 0,276 236,276 236,512 276,512 276,276 512,276 512,236"/></svg>');
					mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" xml:space="preserve"><polygon points="276,236 276,0 236,0 236,236 0,236 0,276 236,276 236,512 276,512 276,276 512,276 512,236"/></svg>');
		}
	}
}

/* Vertical Menu Toggle Button */
.menu-toggle-wrapper {
	min-width: 33%;

	button {
		vertical-align: middle;
	}

	.menu-toggle-box {
		position: relative;
		display: block;
		width: 20px;
		height: 20px;

		&:before,
		&:after {
			content: '';
			position: absolute;
			left: 0;
			top: 6px;
			width: 100%;
			height: 2px;
			background-color: #222;
			transition: width 0.2s ease-out;
		}

		&:after {
			top: 12px;
			width: 12px;
		}

		&:hover:after {
			width: 100%;
		}
	}
}

/* Vertical Menu */
.header-vertical-menu-popup {
	position: fixed;
	z-index: 200;
	top: 0;
	left: 0;
	right: 0;
	height: 100vh;
	overflow: hidden;
	background-color: transparent;
	transform: scale(0);
	transition: background-color 0.3s;

	.vertical-menu-active & {
		background-color: #111;
		transform: scale(1);
	}

	.menu-toggle-close {
		position: absolute;
		left: 40px;
		top: 34px;
		width: 20px;
		height: 20px;
		margin: 0;
		padding: 0;
		border: 0;
		background: none;

		path {
			fill: #fff;
		}
	}

	.admin-bar & {
		.menu-toggle-close {
			top: 66px;
		}
	}

	&__inner{
		margin: 0 auto;
		height: 100vh;
		max-width: 90vw;

		display: flex;
		align-items: center;
		justify-content: center;
	}

	/* Mobile Styles */
	@include media-breakpoint-down(xs) {
		display: block;
		text-align: center;
	}
}