.comment-navigation,
.post-navigation {
	overflow: hidden;
	padding-top: 25px;
	padding-bottom: 25px;
	border-top: 1px solid $color__background-hr;
	
	.nav-previous,
	.nav-next {
		width: 100%;
		word-break: break-word;
		
		@include media-breakpoint-up(sm) {
			width: 50%;
		}

		> a {
			position: relative;
			display: inline-block;

			svg {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
	.nav-previous {
		float: left;
		padding-right: 15px;
		a{
			padding-left: 60px;
			svg {
				left: 0;
			}
		}
	}

	.nav-next {
		float: right;
		text-align: right;
		padding-left: 15px;
		margin-top: 25px;
		
		@include media-breakpoint-up(sm) {
			margin-top: 0;
		}
		
		a {
			padding-right: 60px;
			svg {
				right: 0;
			}
		}
	}

}

.site-content{
	.page-links{
		.post-page-numbers{
			display: inline-block;
			vertical-align: top;
			margin: 0 0 6px 6px;
			
			&:first-child{
				margin-left: 10px;
			}

			&.current{
				font-weight: 700;
			}
		}
	}

}


.comment-navigation {
	.nav {
		&-previous {
			float: left;
			width: 50%;
			i {
				margin-right: 2px;
			}
		}
		&-next {
			float: right;
			text-align: right;
			width: 50%;
			i {
				margin-left: 2px;
			}
		}
	}
}

.post-navigation {
	margin-top: 145px;
	padding-top: 0;
	padding-bottom: 0;
	border: 0;

	@include media-breakpoint-down(xs) {
		margin-top: 30px;
	}

	.nav-previous,
	.nav-next {		
		float: none;
		position: relative;
		width: 100%;
		min-height: 170px;
		padding: 27px 30px 20px;
		border: 1px solid #e5e5e5;
		transition: border-color 0.2s ease-out;

		a {
			padding: 0;
		}

		h5 {
			margin: 0 0 50px;
			line-height: 24px;

			a:hover {
				color: inherit;
			}
		}

		.nav-links__label {
			position: absolute;
			left: 26px;
			bottom: 20px;
			display: inline-block;
			vertical-align: top;
			text-transform: capitalize;
			font-weight: 500;
			font-size: 18px;

			&:hover {
				color: inherit;
			}

			svg {
				width: 15px;
				height: 9px;
			}
		}
	}

	.nav-previous {
		
		@include media-breakpoint-down(xs) {
			margin-bottom: 50px;
		}

		.nav-links__label {
			padding-left: 25px;
		}
	}

	.nav-next {

		.nav-links__label {
			left: auto;
			right: 26px;
			padding-right: 25px;

			svg {
				transform: rotate(180deg) translateY(50%);
			}
		}
	}
}


/*--------------------------------------------------------------
### Posts List Pagination
--------------------------------------------------------------*/
.pagination {
	margin-top: 0;
	margin-bottom: 133px !important;

	.page-numbers {
		display: inline-block;
		vertical-align: top;
		width: 30px;
		margin-left: 2px;
		margin-right: 2px;
		text-align: center;
		font-weight: 500;
		font-size: 18px;
		color: #bfbfbf;

		&.prev,
		&.next {
			width: auto;
			margin: 0;

			svg {
				width: 14px;
				height: 8px;
			}
		}

		&.prev {
			margin-right: 14px;

			svg {
				margin-right: 4px;
				transform: translateY(-3px);
			}
		}

		&.next {
			margin-left: 14px;

			svg {
				margin-left: 4px;
				transform: rotate(180deg) translateY(2px);
			}
		}
	}
}