.comment-navigation,
.post-navigation {
	overflow: hidden;
	padding-top: 25px;
	padding-bottom: 25px;
	border-top: 1px solid $color__background-hr;
	
	.nav-previous,
	.nav-next {
		width: 100%;
		word-break: break-word;
		
		@include media-breakpoint-up(sm) {
			width: 50%;
		}

		> a {
			position: relative;
			display: inline-block;

			svg {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
	.nav-previous {
		float: left;
		padding-right: 15px;
		a{
			padding-left: 60px;
			svg {
				left: 0;
			}
		}
	}

	.nav-next {
		float: right;
		text-align: right;
		padding-left: 15px;
		margin-top: 25px;
		
		@include media-breakpoint-up(sm) {
			margin-top: 0;
		}
		
		a {
			padding-right: 60px;
			svg {
				right: 0;
			}
		}
	}

}

.site-content{
	.page-links{
		.post-page-numbers{
			display: inline-block;
			vertical-align: top;
			margin: 0 0 6px 6px;
			
			&:first-child{
				margin-left: 10px;
			}

			&.current{
				font-weight: 700;
			}
		}
	}

}


.comment-navigation {
	.nav {
		&-previous {
			float: left;
			width: 50%;
			i {
				margin-right: 2px;
			}
		}
		&-next {
			float: right;
			text-align: right;
			width: 50%;
			i {
				margin-left: 2px;
			}
		}
	}
}

.post-navigation {
	margin-top: 145px;
	padding-top: 0;
	padding-bottom: 0;
	border: 0;
    padding:30px 0px;
    border-top:1px solid #DDE0E9;
    border-bottom:1px solid #DDE0E9;

    .nav-links {
        display: flex;
        justify-content: space-between;
        @include media-breakpoint-down(sm) {
            display: block;
        }
        &__item {
            flex-basis: 48.5%;
            max-width: 48.5%;
            width: 48.5%;
            min-width: 48.5%;
            float: none;
            position: relative;
            width: 100%;
            min-height: 170px;
            padding: 30px;
            display: flex;
            align-items: center;
            @include media-breakpoint-down(sm) {
                padding: 15px;
                flex-basis: 100%;
                max-width: 100%;
                width: 100%;
                min-width: 100%;
            }
            .nav-description {
                flex-grow: 1;
                min-width: 0px;
            }
            .post-thumbnail {
                flex-basis: 100px;
                min-width: 100px;
                max-width: 100px;
                width: 100px;
                height: 75px;
                overflow:hidden;
                position: relative;
                a {
                    position:absolute;
                    left:0px;
                    top:0px;
                    width:100%;
                    height:100%;
                }
                img {
                    margin-bottom: 0px;
                    display: block;
                    width: 100%;
                    height: 100%;
                    -o-object-fit: cover;
                    object-fit: cover;
                }
            }
            a {
                padding: 0;
            }

            h5 {
                margin:0px 0px 12px;
                line-height: 24px;
                a:hover {
                    color: inherit;
                }
            }

            .nav-links__label {
                vertical-align: top;
                text-transform: capitalize;

                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: #298CD3;

                &:hover {
                    color: inherit;
                }

            }
        }
    }

	@include media-breakpoint-down(xs) {
		margin-top: 30px;
	}

	.nav-previous {
        .post-thumbnail {
            margin-right: 20px;
        }
	}

	.nav-next {
        .post-thumbnail {
            order: 2;
            margin-left: 20px;
        }
		.nav-links__label {
			text-align: right;
		}
	}
}


/*--------------------------------------------------------------
### Posts List Pagination
--------------------------------------------------------------*/
.pagination {
	margin-top: 0;
	margin-bottom: 133px !important;

	.page-numbers {
		display: inline-block;
		vertical-align: middle;
		width: 39px;
		height: 64px;
		line-height: 64px;
		margin-left: 2px;
		margin-right: 2px;
		text-align: center;
		font-weight: 500;
		font-size: 16px;
		border-radius: 6px;
		&.current {
			background: #E0F3FD;
		}
		&.dots {
			color:#E0F3FD;
		}
		&.prev,
		&.next {
			line-height: 20px;
			height: 20px;
			width: auto;
			margin: 0;
			svg {
				width: 14px;
				height: 8px;
			}
		}

		&.prev {
			margin-right: 14px;
			svg {
				margin-right: 4px;
				transform: translateY(-3px);
			}
		}

		&.next {
			margin-left: 14px;
			svg {
				margin-left: 4px;
				transform: rotate(180deg) translateY(2px);
			}
		}
	}
}