/*--------------------------------------------------------------
### Single Post
--------------------------------------------------------------*/
.single-post {
	
	.post .entry {
		
		&-header {
			
			span.cat-links {
				margin-bottom: 28px;
			}

			.entry-title {
				margin-top: 0;
				margin-bottom: 30px;
			}
		}
		
		&-content {
			@include media-breakpoint-up(sm) {
				font-weight: 300;
				font-size: 22px;
				line-height: 27px;
			}

			margin-top: 10px;

			figure {
				flex-direction: column;
				justify-content: flex-end;

				figcaption.blocks-gallery-item__caption {
					position: static;
					width: 100%;
					overflow: auto;
					margin-top: 21px;
					margin-bottom: 18px;
					padding: 0;
					color: #888;
					text-align: left;
					font-size: 12px;
					font-weight: 400;
					text-transform: uppercase;
					line-height: 1.7em;
					background: none;
				}

				img {
					vertical-align: top;
				}
			}

			@media (min-width: 700px) {
				.wp-block {
					&-archives:not(.alignwide):not(.alignfull),
					&-categories:not(.alignwide):not(.alignfull),
					&-code,
					&-columns:not(.alignwide):not(.alignfull),
					&-cover:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.aligncenter),
					&-embed:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.aligncenter),
					&-gallery:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.aligncenter),
					&-group:not(.has-background):not(.alignwide):not(.alignfull),
					&-image:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.aligncenter),
					&-latest-comments:not(.aligncenter):not(.alignleft):not(.alignright),
					&-latest-posts:not(.aligncenter):not(.alignleft):not(.alignright),
					&-media-text:not(.alignwide):not(.alignfull),
					&-preformatted,
					&-pullquote:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright),
					&-verse,
					&-video:not(.alignwide):not(.alignfull) {
						margin-bottom: 2rem;
						margin-top: 2rem;
					}

					&-quote,
					&-quote.is-large,
					&-quote.is-style-large {
						margin-top: 3rem;
						margin-bottom: 3.5rem;
					}
				}
			}
		}
		&-footer {
			.entry-meta:not(:empty) {
				margin-top: 13px;
			}
		}
	}
	
	.entry {
		&-footer {
			margin-top: 18px;
			
			.tags-links {
				a {
					@extend %tags-style;

					margin-right: 10px;
				}

				strong {
					display: block;
					margin-bottom: 23px;
					text-transform: none;
					font-weight: 600;
					font-size: 18px;
				}
			}
		}
	}
	
	.post-thumbnail {
		margin-bottom: 0;
		img {
			margin-bottom: 35px;
		}
	}
	
	.overlay-thumbnail {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		background-size: cover;
		background-position: center;
	}
	
	.col-md-10.post {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.post_by_author {
		display:flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom:20px;
		margin-bottom: 50px;
		.left_side {
			flex-grow: 1;
			margin-right: 20px;
			display:flex;
			align-items: center;
			.post_by_author {
				&__ava {
					flex-basis: 64px;
					overflow:hidden;
					border-radius: 50%;
					margin-right: 20px;
					img {
						display:block;
						width:100%;
					}
					font-weight: 300;
					font-size: 14px;
					line-height: 17px;
				}
				&__by {
					display:flex;
					align-items: center;
					font-weight: 300;
					font-size: 14px;
					line-height: 17px;
					.author {
						margin-right: 5px;
						a {
							text-transform: uppercase;
							font-weight:600;
							&:hover {
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
		.right_side {

		}
	}

}

/*--------------------------------------------------------------
### Related posts
--------------------------------------------------------------*/

.related-posts {
	position: relative;
	margin-bottom: 0;
	padding-top: 97px;
	padding-bottom: 0;

	&__list {
		display: flex;
		justify-content: space-between;
		@include media-breakpoint-down(xs) {
			display: block;
		}
	}

	.related-post {
		flex-basis: 47.6%;
		max-width: 47.6%;
		min-width: 47.6%;
		width: 47.6%;
		box-sizing: border-box;
		box-shadow: 0px 34px 40px rgba(30, 48, 110, 0);
		transition: 0.2s;
		@include media-breakpoint-down(xs) {
			flex-basis: 100%;
			max-width: 100%;
			min-width: 100%;
			width: 100%;
			margin-bottom: 40px;
			&:last-child {
				margin-bottom: 0px;
			}
		}
		&:hover {
			box-shadow: 0px 34px 40px rgba(30, 48, 110, 0.06);
		}
		.cat-links {
			margin-bottom: 24px;
		}
		.entry-meta {
			margin-top:38px;
			padding-top:27px;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&__content {
			padding:37px 40px 40px;
			@include media-breakpoint-down(xs) {
				padding:37px 15px 40px;
			}
		}
		&__img {
			display: block;
			margin:0px;
			width: 100%;
			height: 300px;
			position: relative;
			.post-thumbnail {
				margin: 0px;
				position:absolute;
				left:0px;
				top:0px;
				width:100%;
				height:100%;
				&__link {
					position:absolute;
					left:0px;
					top:0px;
					width:100%;
					height:100%;
					overflow:hidden;
					img {
						display: block;
						width: 100%;
						height: 100%;
						-o-object-fit: cover;
						object-fit: cover;
						margin:0px;
					}
				}
			}
		}
	}

	&__title {
		position: relative;
		z-index: 2;
		margin-bottom: 52px;
	}

	.post-thumbnail {
		margin-bottom: 37px;

		.post-thumbnail__link {
			display: block;
			img{ 
				margin-bottom: 0;
				width: 100%;
				max-height: 90vh;
				object-fit: cover;
			}
		}
	}

}
