/**
 * Top rated products widget
 */
.elementor-widget-wp-widget-woocommerce_product_search,
.widget_product_search{
	
	form{
		position: relative;
		width: 100%;
	}
	
	.search-field{
		width: 100%;
		padding-right: 60px;
		box-sizing: border-box;
	}
	
	button{
		position: absolute;
		top: 0;
		right: 0;
		display: inline-block;
		vertical-align: top;
		width: 60px;
		height: 60px;
		padding: 0;
		font-size: 0;
		border-radius: 0;
		border: 0;
		background: none;

		&:before {
			content: '';
			position: absolute;
			top: 20px;
			right: 21px;
			width: 20px;
			height: 20px;

					mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M13.9663 15.4015C12.4975 16.5608 10.6427 17.2526 8.6263 17.2526C3.86212 17.2526 0 13.3905 0 8.6263C0 3.86212 3.86212 0 8.6263 0C13.3905 0 17.2526 3.86212 17.2526 8.6263C17.2526 10.6427 16.5608 12.4975 15.4015 13.9663L20 18.5648L18.5648 20L13.9663 15.4015ZM15.2229 8.6263C15.2229 12.2695 12.2695 15.2229 8.6263 15.2229C4.98311 15.2229 2.02972 12.2695 2.02972 8.6263C2.02972 4.98311 4.98311 2.02972 8.6263 2.02972C12.2695 2.02972 15.2229 4.98311 15.2229 8.6263Z"/></svg>');
			-webkit-mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M13.9663 15.4015C12.4975 16.5608 10.6427 17.2526 8.6263 17.2526C3.86212 17.2526 0 13.3905 0 8.6263C0 3.86212 3.86212 0 8.6263 0C13.3905 0 17.2526 3.86212 17.2526 8.6263C17.2526 10.6427 16.5608 12.4975 15.4015 13.9663L20 18.5648L18.5648 20L13.9663 15.4015ZM15.2229 8.6263C15.2229 12.2695 12.2695 15.2229 8.6263 15.2229C4.98311 15.2229 2.02972 12.2695 2.02972 8.6263C2.02972 4.98311 4.98311 2.02972 8.6263 2.02972C12.2695 2.02972 15.2229 4.98311 15.2229 8.6263Z"/></svg>');

			transition: background-color 0.2s ease-out
		}
	}
	
}