/**
 * Top rated products widget
 */
.elementor-widget-wp-widget-woocommerce_product_search,
.widget_product_search{
	
	form{
		position: relative;
		width: 100%;
	}
	
	.search-field{
		width: 100%;
		padding:17px 60px 15px 20px;
		box-sizing: border-box;

		font-weight: 300;
		font-size: 18px;
		line-height: 22px;
		color: #8a93b3;
	}
	
	button{
		position: absolute;
		top: 0;
		right: 0;
		display: inline-block;
		vertical-align: top;
		width: 60px;
		height: 60px;
		padding: 0;
		font-size: 0;
		border-radius: 0;
		border: 0;
		background: none;

		&:before {
			position: absolute;
			top: 19px;
			right: 20px;
			width: 18px;
			height: 18px;
			background-color: transparent;
			content: url("data:image/svg+xml; utf8, %3Csvg%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M8.11709%200C12.5931%200%2016.2347%203.64155%2016.2347%208.11757C16.2347%209.70382%2015.777%2011.185%2014.9872%2012.4366L17.4711%2014.9206C18.1756%2015.625%2018.1756%2016.7672%2017.4711%2017.4716C16.7666%2018.1761%2015.6245%2018.1761%2014.9201%2017.4716L12.4361%2014.9877C11.1844%2015.7775%209.70327%2016.2351%208.11709%2016.2351C3.64106%2016.2351%20-0.000488281%2012.5936%20-0.000488281%208.11757C-0.000488281%203.64155%203.64099%200%208.11709%200ZM8.11709%2014.4312C11.5984%2014.4312%2014.4308%2011.5989%2014.4308%208.11757C14.4308%204.63623%2011.5985%201.8039%208.11709%201.8039C4.6357%201.8039%201.80341%204.63623%201.80341%208.11757C1.80341%2011.5989%204.63567%2014.4312%208.11709%2014.4312Z%22%20fill%3D%22%231E306E%22%2F%3E%0A%3C%2Fsvg%3E%0A");
		}
		&:hover {
			&:before {
				background-color: transparent;
			}
		}
	}
	
}