/**
 * Tag cloud widget
 */
.elementor-widget-wp-widget-woocommerce_product_tag_cloud,
.widget_product_tag_cloud {
	.tagcloud {
		a {
			display: inline-block;
			margin-right: 6px;
			margin-bottom: 10px;
			font-size: 16px!important;
			line-height: 20px;
			color: #298CD3;
			padding:8px 13px 8px 13px;
			background: #E0F3FD;
			border-radius: 6px;
			transition: 0.2s;
			&:hover {
				background: #298CD3;
				color:#FFF;
			}

		}
	}
}